{% load container_tags %}
							{% for entry in complete_fields %}
							{% with current_field=complete_fields|get_dict_key:entry%}
							{% if current_field.options %}
							{% for option in current_field.options %}
							<div class="form-group">
								<label for="{{current_field.field}}">{{current_field.field|get_translated_text:language_code}}</label>
								<select id="{{current_field.field}}-{{current_field.filter}}" name="{{current_field.field}}-{{current_field.filter}}" class="form-control">
									{% with value="" active_list=option %}
										{% include current_field.template %}
									{% endwith %}
								</select>
								<input name="{{current_field.field}}" id="{{current_field.field}}" type="text" class="form-control with-autocomplete" placeholder="{{current_field.field|add:'.placeholder'|get_translated_text:language_code}}" value="" datasource="{{current_field.datasource}}"/>
							</div>
							{% endfor %}
							{% else %}
							<div class="form-group">
								<label for="{{current_field.field}}">{{current_field.field|get_translated_text:language_code}}</label>
								{% if current_field.template %}
									<select id="{{current_field.field}}" name="{{current_field.field}}" class="form-control">
									{% include current_field.template %}
									</select>
								{% else %}
								<input name="{{current_field.field}}" type="text" class="form-control{% if current_field.type == 'FIELD_TYPE_DATE' %} date-form-field{% endif %}" id="{{current_field.field}}" placeholder="{{current_field.field|add:'.placeholder'|get_translated_text:language_code}}" value=""/>
								{% endif %}
							</div>
							{% endif %}
							{% endwith %}
							{% endfor %}