{% load container_tags %}
{% for entry in fields %}
	{% with current_field=complete_fields|get_dict_key:entry base_id=complete_fields|get_dict_key:entry|get_dict_key:"field" %}
		{% if current_field.type == 'ManyToManyField' %}
			{% for option in current_field.options %}
				{% with index=forloop.counter0|stringformat:"s" %}
				<div class="form-group">
					<label for="{{base_id}}_{{index}}">{{current_field.field|get_translated_text:language_code}}</label>
					{% if current_field.template %}
						<select id="{{base_id}}_{{index}}" name="{{base_id}}_{{index}}" class="form-control">
						{% include current_field.template with active_list=option %}
						</select>
					{% endif %}
				</div>
				<blockquote id="{{base_id}}_{{index}}blockquote">
				<h6>
				{% include current_field.template_m2m with prefix=base_id|add:"_"|add:index|add:"." %}
				</h6>
				</blockquote>
				{% endwith %}
			{% empty %}
				<div class="form-group">
					<label for="{{base_id}}_0">{{current_field.field|get_translated_text:language_code}}</label>
					{% if current_field.template %}
						<select id="{{base_id}}_0" name="{{base_id}}_0" class="form-control">
						{% include current_field.template with active_list=option %}
						</select>
					{% endif %}
				</div>
				<blockquote id="{{base_id}}_0_blockquote">
				<h6>
				{% include current_field.template_m2m with prefix=base_id|add:"_0." %}
				</h6>
				</blockquote>
			{% endfor %}
		{% else %}
			<div class="form-group">
				<label for="{{current_field.field}}">{{current_field.field|get_translated_text:language_code}}</label>
				{% if current_field.template%}
					<select id="{{current_field.field}}" name="{{current_field.field}}" class="form-control" {% if current_field.default.set_default == 'True' and current_field.default.allow_changes == 'False' %}disabled{% endif %}>
					{% if current_field.target_class == 'django.contrib.auth.models.User' %}
						{% templatetag openblock %} get_users request.user.id current_field.default.value {% templatetag closeblock %}
					{% else %}
						{% if current_field.default.set_default == 'True' %}
							{% include current_field.template with value=current_field.default.value %}
						{% else %}
							{% include current_field.template with value=request.user.id %}
						{% endif %}
					{% endif %}
					</select>
				{% elif current_field.is_container %}
					<input name="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{current_field.field}}" type="text" class="form-control with-autocomplete" id="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{current_field.field}}" placeholder="{{current_field.field|add:'.placeholder'|get_translated_text:language_code}}" datasource="/container/filters.html?container_type={{current_field.container_type}}" value=""/>
				{% else %}
					{% if current_field.type == 'FIELD_TYPE_CHOICE' %}
					<div>
					<label><input id="{{current_field.field}}" name="{{current_field.field}}" type="checkbox" value="True" onchange="fieldDefaultChanged(event)" {% if current_field.default.value == 'True' and current_field.default.set_default == 'True' %}checked{% endif %}> <small>{{current_field.field|add:'.placeholder'|get_translated_text:language_code}}</small></label>
					</div>
					{% else %}
					<input name="{{current_field.field}}" type="text" class="form-control{% if current_field.type == 'FIELD_TYPE_DATE' %} date-form-field{% endif %}" id="{{current_field.field}}" placeholder="{{current_field.field|add:'.placeholder'|get_translated_text:language_code}}" {% if current_field.default.set_default == 'True' and current_field.default.allow_changes == 'False' %}disabled{% endif %} value="{% if current_field.default.set_default == 'True' %}{{current_field.default.value}}{% endif %}"/>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
	{% endwith %}
{% endfor %}