{% extends base_template %}
{% load i18n %}
{% block title %}{% blocktrans %}Container Creation Wizard Setup{% endblocktrans %}{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
				containerChanged();
{% endblock %}
{% block headeroptions %}
<script>

	var allItems = {{global|safe}};
	var initialLoad = true;
	var allFields = {};
	var filteringEntry;

	var currentOption;
	var currentOptionIndex = 0;
	var isCurrentCheckbox = false;


	function onCallError(e) {
		alert(e.status);
	}

	function onForeignClick(fieldName) {
		$(".sub-" + fieldName).toggleClass("hidden");
	}

	function containerFieldsSaved(e) {

	}

	function allowDrop(e) {
		e.preventDefault();
	}

	function removeDropped(element) {
		var parent = $(element).parent();

		var index = parseInt($(element).parent().attr('id').replace('group_',''));
		var subIndex = $(element).index();

		allItems[$("#containerType").val()][currentOption].options[index].splice(subIndex, 1);

		if (allItems[$("#containerType").val()][currentOption].options[index].length==0) {
			allItems[$("#containerType").val()][currentOption].options.splice(index, 1);
		}
		$(element).remove();
		if (parent.children().length==0) {
			parent.remove();
			currentOptionIndex = currentOptionIndex - 1;
			$.each($(".top-level-group"), function(index, value) {
				$(value).attr('id', 'group_' + index);
			});
		}
		saveListSetup();
	}

	function drop(e) {
		e.preventDefault();
		var identifier = e.dataTransfer.getData("identifier");
		var label = e.dataTransfer.getData("label");
		var effectiveTarget = $(e.target);
		while (!effectiveTarget.hasClass("top-level-group")) {
			effectiveTarget = effectiveTarget.parent();
		}
		effectiveTarget.append("<div id='" + identifier.replace("source_", "target_") + "' class='list-group-item' onclick='removeDropped(this)'>" + label + "</div>");
		var index = parseInt(effectiveTarget.attr('id').replace('group_',''));
		allItems[$("#containerType").val()][currentOption].options[index].push(identifier.replace("source_", ""));
		saveListSetup();
	}


	function drag(e) {
		e.dataTransfer.setData("identifier", e.target.id);
		e.dataTransfer.setData("label", $(e.target).text());
	}

	function filteringEntryLoaded(e) {
		filteringEntry = {};
		$.each(e.result, function(index, value) {
			$("#filtersList").append("<div id='source_" + value.identifier + "' class='list-group-item' draggable='true' ondragstart='drag(event)' identifier=" + value.identifier + ">" + value.name + "</div>");
			filteringEntry[value.identifier] = value.name;
		});
		$.each(allItems[$("#containerType").val()][currentOption].options, function(index, value) {
			addGroup(true);
			$.each(value, function(subIndex, subValue) {
				$("#groupsList :nth-child(" + currentOptionIndex + ")").append("<div id='target_" + subValue + "' class='list-group-item' onclick='removeDropped(this)'>" + filteringEntry[subValue] + "</div>");
			});
		});
	}

	function saveListSetup() {
		var containerSetup = {};
		containerSetup.type = $("#containerType").val();
		containerSetup.data = allItems[$("#containerType").val()];
		var updateForm = new FormData();
		updateForm.append('container_setup', JSON.stringify(containerSetup));
		updateForm.append('item',urlParams['item']);
		updateForm.append('type',urlParams['type']);
		updateForm.append('render_name','edition');
		$.ajax({
			url: '/container/setup_save.html',
			type: 'POST',
			data: updateForm,
			processData: false,
			contentType: false,
			success: containerFieldsSaved,
			error: onCallError
		});
	}

	function fieldDefaultChanged(event) {
		foreignDefaultChanged(event);
	}

	function foreignDefaultChanged(event) {
		if ($("#set_default").prop("checked")) {
			$("#allow_changes").prop("disabled",false);
			$("#default").prop("disabled",false);
		} else {
			$("#allow_changes").prop("disabled",true);
			$("#default").prop("disabled",true);
		}
		allItems[$("#containerType").val()][currentOption].default = {
			'set_default': $("#set_default").prop("checked")?'True':'False',
			'allow_changes': $("#allow_changes").prop("checked")?'True':'False',
			'value': isCurrentCheckbox?($("#default").prop("checked")?'True':'False'):$("#default").val()
		};
		saveListSetup();
	}

	function fillSelectForForeign(result) {
		isCurrentCheckbox = false;
		$("#default").empty();
		$("#default").html(result);

		$("#set_default").removeAttr("checked");
		$("#default").val("");
		$("#allow_changes").prop("checked",true);

		if (allItems[$("#containerType").val()][currentOption].default) {
			if (allItems[$("#containerType").val()][currentOption].default.set_default=="True") {
				$("#set_default").prop("checked",true);
			} else {
				$("#set_default").prop("checked",false);
			}
			if (allItems[$("#containerType").val()][currentOption].default.allow_changes=="True") {
				$("#allow_changes").prop("checked",true);
			} else {
				$("#allow_changes").prop("checked",false);
			}
			if (allItems[$("#containerType").val()][currentOption].default.value) {
				$("#default").val(allItems[$("#containerType").val()][currentOption].default.value);
			}
		}
		foreignDefaultChanged(null);
	}

	function fillTypeForField(result) {
		if (result!="FIELD_TYPE_CHOICE") {
			$("#defaultZone").html('<input name="default" type="text" class="form-control" id="default" placeholder="{% blocktrans %}Enter a value{% endblocktrans %}" value="" onchange="fieldDefaultChanged(event)" disabled/>');
			isCurrentCheckbox = false;
		} else {
			$("#defaultZone").html('<label><input id="default" name="default" type="checkbox" value="True" onchange="fieldDefaultChanged(event)"> -</label>');
			isCurrentCheckbox = true;
		}

		if (allItems[$("#containerType").val()][currentOption].default) {
			if (allItems[$("#containerType").val()][currentOption].default.set_default=="True") {
				$("#set_default").prop("checked",true);
			} else {
				$("#set_default").prop("checked",false);
			}
			if (allItems[$("#containerType").val()][currentOption].default.allow_changes=="True") {
				$("#allow_changes").prop("checked",true);
			} else {
				$("#allow_changes").prop("checked",false);
			}
			if (allItems[$("#containerType").val()][currentOption].default.value) {
				if (isCurrentCheckbox) {
					$("#default").prop("checked",allItems[$("#containerType").val()][currentOption].default.value=="True");
				} else {
					$("#default").val(allItems[$("#containerType").val()][currentOption].default.value);
				}
			}
		} else {
			$("#set_default").prop("checked", false);
			$("#default").val("");
			$("#allow_changes").prop("checked", false);
		}
		if (result==="FIELD_TYPE_DATE") {
			$("#default").datepicker({ dateFormat: "yy-mm-dd" });
		}
		fieldDefaultChanged(null);
	}


	function preparePopupField(fieldName) {
		$("#defaultZone").empty();
		var fieldForm = new FormData();
		fieldForm.append('container_type', $("#containerType").val());
		fieldForm.append('current_field', fieldName);
		currentOption = fieldName;
		console.log(allItems[$("#containerType").val()][currentOption].default);
		$.ajax({
			url: '/container/get_field_type.html',
			type: 'POST',
			data: fieldForm,
			processData: false,
			contentType: false,
			success: fillTypeForField,
			error: onCallError
		});
	}

	function preparePopupForeign(fieldName) {
		$("#defaultZone").empty();
		$("#defaultZone").html("<select id='default' class='form-control' onchange='foreignDefaultChanged(event)'></select>");
		var foreignForm = new FormData();
		foreignForm.append('container_type', $("#containerType").val());
		foreignForm.append('foreign_field', fieldName);
		currentOption = fieldName;
		console.log(allItems[$("#containerType").val()][currentOption].default);
		$.ajax({
			url: '/container/get_selectable_foreign.html',
			type: 'POST',
			data: foreignForm,
			processData: false,
			contentType: false,
			success: fillSelectForForeign,
			error: onCallError
		});
	}

	function preparePopupMany(fieldName) {
		$('#filtersList').empty();
		$('#groupsList').empty();

		currentOptionIndex = 0;

		currentOption = fieldName;

		var queryForm = new FormData();
		queryForm.append('container_type', $("#containerType").val());
		queryForm.append('filtered_field', fieldName);
		queryForm.append('filtering_field', allFields[fieldName].filter);
		$.ajax({
			url: '/container/get_filtering_entry.html',
			type: 'POST',
			data: queryForm,
			processData: false,
			contentType: false,
			success: filteringEntryLoaded,
			error: onCallError
		});
	}

	function addGroup(building) {
		$("#groupsList").append('<div class="list-group-item top-level-group" ondrop="drop(event)" ondragover="allowDrop(event)" id="group_' + currentOptionIndex + '"></div>');
		if (!building) {
			allItems[$("#containerType").val()][currentOption].options.push(new Array());
		}
		currentOptionIndex = currentOptionIndex + 1;
	}

	function onFieldClick(fieldName) {
		if ($(".main-" + fieldName).hasClass("list-group-item-success")) {
			$(".select-" + fieldName).remove();
			delete allItems[$("#containerType").val()][fieldName];
		} else {
			$("#selectedfieldsList").append('<a class="list-group-item select-' + fieldName + '" onclick="onFieldClick(\'' + fieldName + '\')" role="button">' + fieldName + '</a>');
			if (allFields[fieldName].type==='ManyToManyField') {
				$("#selectedfieldsOptions").append('<a class="list-group-item select-' + fieldName + '" href="#modal_define_option_many" role="button" data-toggle="modal" data-placement="bottom" title="{% blocktrans %}Define the options regarding many to many relations{% endblocktrans %}" onclick="preparePopupMany(\'' + fieldName + '\')">{% blocktrans %}Define{% endblocktrans %}</a>');
			} else if (allFields[fieldName].type==='ForeignKey') {
				$("#selectedfieldsOptions").append('<a class="list-group-item select-' + fieldName + '" href="#modal_define_option_field" role="button" data-toggle="modal" data-placement="bottom" title="{% blocktrans %}Define the options regarding simple relations{% endblocktrans %}" onclick="preparePopupForeign(\'' + fieldName + '\')">{% blocktrans %}Define{% endblocktrans %}</a>');
			} else {
				$("#selectedfieldsOptions").append('<a class="list-group-item select-' + fieldName + '" href="#modal_define_option_field" role="button" data-toggle="modal" data-placement="bottom" title="{% blocktrans %}Define the options regarding simple data fields{% endblocktrans %}" onclick="preparePopupField(\'' + fieldName + '\')">{% blocktrans %}Define{% endblocktrans %}</a>');
			}
			if (!allItems.hasOwnProperty($("#containerType").val())) {
				allItems[$("#containerType").val()] = {};
			}
			if (!allItems[$("#containerType").val()].hasOwnProperty(fieldName)) {
				allItems[$("#containerType").val()][fieldName] = {'field': fieldName, 'options':[]};
			}
		}
		$(".main-" + fieldName).toggleClass("list-group-item-success");

		if (!initialLoad) {
			saveListSetup();
		}
	}

	function fieldsLoaded(e) {
		var currentList = [];
		var preSelection = [];

		allFields = e.static_fields;

		$("#selectedfieldsList").empty();
		$("#selectedfieldsOptions").empty();

		if (allItems.hasOwnProperty($("#containerType").val())) {
			preSelection = allItems[$("#containerType").val()];
		}

		$("#fieldsList").empty();

		$.each(e.static_fields, function(index, value) {
			currentList.push(index);
		});
		currentList.sort();
		$.each(currentList, function(index, value) {
			$("#fieldsList").append('<a class="list-group-item main-' + value + '" onclick="onFieldClick(\'' + value + '\')">' + value + '</a>');
		});
		$.each(preSelection, function(index, value) {
			var selected;
			$(".main-" + index).click();
		});
		initialLoad = false;
	}

	function containerChanged() {
		initialLoad = true;
		var fieldsForm = new FormData();
		fieldsForm.append('container_type', $("#containerType").val());
		$.ajax({
			url: '/container/fields_get.html',
			type: 'POST',
			data: fieldsForm,
			processData: false,
			contentType: false,
			success: fieldsLoaded,
			error: onCallError
		});
	}
</script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{% blocktrans %}Mandatory fields while creating containers{% endblocktrans %}</h1>
	  			<p class="lead">{% blocktrans %}Define all the fields that are mandatory while creating{% endblocktrans %}<br/>
			</div>
		</div>
		<div class="row">
			<select class="form-control no-enter" id="containerType" name="containerType" onchange="containerChanged()">
				{% with value='' %}
					{% include selection_template %}
				{% endwith %}
			</select>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-3 text-center">
				<h4>{% blocktrans %}Available fields{% endblocktrans %}</h4>
			</div>
			<div class="col-lg-3 col-lg-offset-3 text-center">
				<h4>{% blocktrans %}Selected fields{% endblocktrans %}</h4>
			</div>
			<div class="col-lg-1 text-center">
				<h4>{% blocktrans %}Options{% endblocktrans %}</h4>
			</div>
		</div>
		<div class="row">
			<b>
			<div id="fieldsList" class="list-group col-lg-offset-1 col-lg-3">
			</div>
			<div id="selectedfieldsList" class="list-group col-lg-3 col-lg-offset-3">
			</div>
			<div id="selectedfieldsOptions" class="list-group text-center col-lg-1">
			</div>
			</b>
		</div>
		<div class="modal fade" id="modal_define_option_many" tabindex="-1" role="dialog" aria-labelledby="modal_define_option_many_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_define_option_many_label">{% blocktrans %}Define the options regarding many to many relations{% endblocktrans %}</h4>
					</div>
					<form id="many_to_many_options" role="form" action="#" method="POST">
						{% csrf_token %}
						<div id="manyOptionBody" class="modal-body">
							<div class="row">
								<h4>{% blocktrans %}Create a new group and then drag a filtering option in that group{% endblocktrans %}</h4>
								<h6>{% blocktrans %}Each group indicates a mandatory user input. All filters within a group are "OR" relations.{% endblocktrans %}</h6>
							</div>
							<div class="row"><a id="addButton" class="btn btn-default col-lg-10 col-lg-offset-1" onclick="addGroup(false)">{% blocktrans %}Add a group{% endblocktrans %}</a></div>
							<div class="row">&nbsp;</div>
							<div class="row">
								<div id="filtersList" class="col-lg-4 col-lg-offset-1 list-group"></div>
								<div id="groupsList" class="col-lg-4 col-lg-offset-2 list-group"></div>
							</div>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Close the popup{% endblocktrans %}" onclick="" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modal_define_option_field" tabindex="-1" role="dialog" aria-labelledby="modal_define_option_field_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_define_option_field_label">{% blocktrans %}Define the options regarding simple data fields{% endblocktrans %}</h4>
					</div>
					<form id="field_options" role="form" action="#" method="POST">{% csrf_token %}
						<div id="fieldOtionBody"  class="modal-body">
							<div class="row">
								<h4>{% blocktrans %}Define default value{% endblocktrans %}</h4>
								<h6>{% blocktrans %}You can input the default value but also disallow its modification.{% endblocktrans %}</h6>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label>
										<input id="set_default" name="set_default" type="checkbox" value="True" onchange="fieldDefaultChanged(event)"> {% blocktrans %}Set a default value{% endblocktrans %}
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label>
										<input id="allow_changes" name="allow_changes" type="checkbox" value="True" onchange="fieldDefaultChanged(event)"> {% blocktrans %}Allow users to change the value{% endblocktrans %}
									</label>
								</div>
							</div>
							<div class="form-group">
								<label for="default">{% blocktrans %}Default value{% endblocktrans %}</label>
								<div id="defaultZone">
								</div>
							</div>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Close the popup{% endblocktrans %}" onclick="" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
					</div>
				</div>
			</div>
		</div>
{% endblock %}