{% load container_tags %}
<input id="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{entry}}id" name="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{entry}}id" type="hidden"/>
{% for entry in fields %}
{% with current_field=complete_fields|get_dict_key:entry%}
<div class="form-group">
	<label for="{{entry}}">{{entry|get_translated_text:language_code}}</label>
	{% if current_field.template %}
		<select id="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{entry}}" name="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{entry}}" class="form-control">
		{% include current_field.template %}
		</select>
	{% else %}
	<input name="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{entry}}" type="text" class="form-control{% if current_field.type == 'FIELD_TYPE_DATE' %} date-form-field{% endif %} {% if current_field.is_container%}with-autocomplete{% endif %}" id="{% templatetag openvariable %}prefix{% templatetag closevariable %}{{entry}}" placeholder="{{entry|add:'.placeholder'|get_translated_text:language_code}}" {% if current_field.is_container%}datasource="/container/filters.html?container_type={{current_field.container_type}}"{% endif %}" value=""/>
	{% endif %}
</div>
{% endwith %}
{% endfor %}