<select class="form-control">

	<option value='DT_REF_APRIL'>April</option>

	<option value='DT_REF_AUGUST'>August</option>

	<option value='DT_REF_DECEMBER'>December</option>

	<option value='DT_REF_FEBRUARY'>February</option>

	<option value='DT_REF_Q1'>First Quarter</option>

	<option value='DT_REF_S1'>First Semester</option>

	<option value='DT_REF_Q4'>Fourth Quarter</option>

	<option value='DT_REF_FRIDAY'>Friday</option>

	<option value='DT_REF_JANUARY'>January</option>

	<option value='DT_REF_JULY'>July</option>

	<option value='DT_REF_JUNE'>June</option>

	<option value='DT_REF_MARCH'>March</option>

	<option value='DT_REF_MAY'>May</option>

	<option value='DT_REF_MONDAY'>Monday</option>

	<option value='DT_REF_NOVEMBER'>November</option>

	<option value='DT_REF_OCTOBER'>October</option>

	<option value='DT_REF_SATURDAY'>Saturday</option>

	<option value='DT_REF_Q2'>Second Quarter</option>

	<option value='DT_REF_S2'>Second Semester</option>

	<option value='DT_REF_SEPTEMBER'>September</option>

	<option value='DT_REF_SUNDAY'>Sunday</option>

	<option value='DT_REF_Q3'>Third Quarter</option>

	<option value='DT_REF_THURSDAY'>Thursday</option>

	<option value='DT_REF_TUESDAY'>Tuesday</option>

	<option value='DT_REF_WEDNESDAY'>Wednesday</option>

</select>