<select class="form-control">

	<option value='LAYOUT_OBJECT_CUSTOM_TEMPLATE'>Custom container template</option>

	<option value='LAYOUT_OBJECT_CUSTOM_HISTORY'>Custom historical field</option>

	<option value='LAYOUT_OBJECT_CUSTOM_STANDARD'>Custom standard fields</option>

	<option value='LAYOUT_DISTRIBUTION_CHART'>Distribution chart</option>

	<option value='LAYOUT_HISTORY_CHART'>Historical chart</option>

	<option value='LAYOUT_HISTORICAL_DISTRIBUTION_CHART'>Historical distribution chart</option>

	<option value='LAYOUT_OBJECT_TYPE_LIST'>List field</option>

	<option value='LAYOUT_OBJECT_TYPE_SINGLES'>Single fields</option>

</select>