<select class="form-control">

	<option value='PHONE_LAND_CONTACT'>Contact Landline</option>

	<option value='PHONE_MOB_CONTACT'>Contact Mobile</option>

	<option value='PHONE_FAX_HONE'>Home Fax</option>

	<option value='PHONE_LAND_PERSONAL'>Personal Landline</option>

	<option value='PHONE_MOB_PERSONAL'>Personal Mobile</option>

	<option value='PHONE_FAX_WORK'>Work Fax</option>

	<option value='PHONE_LAND_WORK'>Work Landline</option>

	<option value='PHONE_MOB_WORK'>Work Mobile</option>

</select>