
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="tesdt">TESDT</label>
			<input name="tesdt" type="text" class="form-control no-enter" id="tesdt" placeholder="Enter a tesdt" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="fsdfgdgd">FSDFGDGD</label>
			<input name="fsdfgdgd" type="text" class="form-control no-enter" id="fsdfgdgd" placeholder="Enter a fsdfgdgd" value=""/>
		</div>
		<script>
			
				$("#fsdfgdgd").datepicker({ dateFormat: "yy-mm-dd" });
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the TEST de personne and save it">Continue</button>
	</div>
</form>