{% load container_tags %}
{% for header in headers %}
	{% if entries|get_dict_key:header.identifier %}
	<li role="presentation" class="dropdown-header">{{header.short_name}}</li>
	{% for entry in entries|get_dict_key:header.identifier %}
		{% if entry.menu_type == 'link' %}
		<li><a href="/container/{{entry.data_target}}.html?container_id={% templatetag openvariable %}container.id{% templatetag closevariable %}&container_type={% templatetag openvariable %}container.type.identifier{% templatetag closevariable %}">{{entry.language_identifier|get_translated_text:language_code}}</a></li>
		{% elif entry.menu_type == 'modal' %}
		<li><a href="#" type="button" data-toggle="modal" data-target="#modal_{{entry.data_target}}">{{entry.language_identifier|get_translated_text:language_code}}</a></li>
		{% elif entry.menu_type == 'ajax' %}
		<li><a href="#" onclick="proceedPageAjax('/container/{{entry.data_target}}.html?container_id={% templatetag openvariable %}container.id{% templatetag closevariable %}&container_type={% templatetag openvariable %}container.type.identifier{% templatetag closevariable %}', null, 'GET')">{{entry.language_identifier|get_translated_text:language_code}}</a></li>
		{% elif entry.menu_type == 'provider' %}
		<li><a href="#" onclick="proceedPageAjax('/container/external_import.html?container_id={% templatetag openvariable %}container.id{% templatetag closevariable %}&container_type={% templatetag openvariable %}container.type.identifier{% templatetag closevariable %}&external={{entry.menu_target.short_name|lower}}&target={{entry.data_target}}', null, 'GET')">{{entry.language_identifier|get_translated_text:language_code}}</a></li>
		{% elif entry.menu_type == 'custom' %}
		<li><a href="/custom_{{entry.action_type}}.html?container_id={% templatetag openvariable %}container.id{% templatetag closevariable %}&container_type={% templatetag openvariable %}container.type.identifier{% templatetag closevariable %}&custom={{entry.menu_target.short_name|lower}}&target={{entry.data_target}}">{{entry.language_identifier|get_translated_text:language_code}}</a></li>
		{% endif %}
	{% endfor%}
	{% endif %}
{% endfor %}