{% load container_tags %}
{% load i18n %}
		<script>

			function onresultselect_{{index}}(data) {
				$("#results_{{index}}").empty();
				onedit_{{index}}(data);
			}

			function onsearch_{{index}}() {
				{% for entry in data.data %}
					{% if forloop.first %}
						editedData[{{index}}] = {'id': $("#{{entry}}-{{index}}-id").val(), 'many-to-many': '{{entry}}'};
					{% endif %}
					{% with current_field=complete_fields|get_dict_key:entry%}
						{% for field in current_field.fields %}
							editedData[{{index}}]['{{field}}'] = $("#{{entry}}-{{index}}-{{field}}").val();
						{% endfor %}
					{% endwith %}
				{% endfor %}
				searchContainer({{index}});
			}

			function onchange_{{index}}(save) {
				{% for entry in data.data %}
					{% if forloop.first %}
						editedData[{{index}}] = {'id': $("#{{entry}}-{{index}}-id").val(), 'many-to-many': '{{entry}}'};
					{% endif %}
					{% with current_field=complete_fields|get_dict_key:entry%}
						{% for field in current_field.fields %}
							editedData[{{index}}]['{{field}}'] = $("#{{entry}}-{{index}}-{{field}}").val();
						{% endfor %}
					{% endwith %}
				{% endfor %}
				if (save) {
					updateContainer({{index}});
				} else {
					console.log(editedData[{{index}}]);
				}
			}

			function onedit_{{index}}(data) {
				clean_{{index}}();
				if (data) {
					{% for entry in data.data %}
						$("#{{entry}}-{{index}}-id").val(data.id);
						{% with current_field=complete_fields|get_dict_key:entry %}
							{% for field in current_field.fields %}
								if ('{{field}}'!='id') {
									if (data.{{field}}!==null && data.{{field}}.hasOwnProperty('identifier')) {
										$("#{{entry}}-{{index}}-{{field}}").val(data.{{field}}.identifier);
									} else {
										$("#{{entry}}-{{index}}-{{field}}").val(data.{{field}}!==null?data.{{field}}{% if not current_field.is_container %}.name{% endif %}:"");
									}
								}
							{% endfor %}
						{% endwith %}
					{% endfor %}
				}
			}

			function clean_{{index}}() {
				{% for entry in data.data %}
					$("#{{entry}}-{{index}}-id").val("");
					{% with current_field=complete_fields|get_dict_key:entry %}
						{% for field in current_field.fields %}
							$("#{{entry}}-{{index}}-{{field}}").val("");
						{% endfor %}
					{% endwith %}
				{% endfor %}
			}
		</script>
		<div class="modal fade" id="modal_define_{{index}}" tabindex="-1" role="dialog" aria-labelledby="modal_define_{{index}}_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_define_{{index}}_label">{{data.title|get_translated_text:language_code}} - {% blocktrans %}Add/edit information{% endblocktrans %}</h4>
					</div>
					<div id="optionBody" class="modal-body">
						<form id="edit_form_{{index}}" role="form" action="#" method="POST">{% csrf_token %}
							<div class="row">&nbsp;</div>
							{% include complete_fields|get_dict_key:data.data.0|get_dict_key:"template_m2m_complete" with prefix=data.data.0|add:"-"|add:index|add:"-" %}
						</form>
						<div id="results_{{index}}" class="row">
						</div>
					</div>
					<div class="modal-footer">
						{% if complete_fields|get_dict_key:data.data.0|get_dict_key:"is_container" %}<button id="searchButton_{{index}}" type="button" class="btn btn-info" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Search containers with these information{% endblocktrans %}" onclick="onsearch_{{index}}()">{% blocktrans %}Search{% endblocktrans %}</button>{% endif %}
						<button  id="saveButton_{{index}}" type="button" class="btn btn-warning" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Save the modifications{% endblocktrans %}" onclick="onchange_{{index}}(true)" data-dismiss="modal">{% blocktrans %}Save{% endblocktrans %}</button>
						<button  id="closeButton_{{index}}" type="button" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Close the popup{% endblocktrans %}" onclick="onchange_{{index}}(false)" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
					</div>
				</div>
			</div>
		</div>