{% load universe_tags %}
		<script>
			function onchange_{{index}}(save) {
				editedData[{{index}}] = {};
				{% for entry in data.data %}
					editedData[{{index}}]['{{entry}}'] = $("#{{entry|get_jquery_id}}").val();
					{% if current_field.filter %}
					editedData[{{index}}]['{{entry}}-{{current_field.filter}}'] = $("#{{entry|get_jquery_id}}-{{current_field.filter|get_jquery_id}}").val();
					{% endif %}
				{% endfor %}
				if (save) {
					updateContainer({{index}});
				}
			}
		</script>
		<div class="modal fade" id="modal_define_{{index}}" tabindex="-1" role="dialog" aria-labelledby="modal_define_{{index}}_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_define_{{index}}_label">{{data.title}} - Edit information</h4>
					</div>
					<form id="edit_form_{{index}}" role="form" action="#" method="POST">{% csrf_token %}
						<div id="optionBody"  class="modal-body">
							<div class="row">&nbsp;</div>
							{% for entry in data.data %}
							{% with current_field=complete_fields|get_dict_key:entry%}
							<div class="form-group">
								<label for="{{entry}}">{% if labels|get_dict_key:entry %}{{labels|get_dict_key:entry}}{% else %}{{entry}}{% endif %}</label>
								{% if current_field.template %}
									<select id="{{entry}}" name="{{entry}}" class="form-control">
									{% with value=container|get_value:entry active_list=option %}
										{% include current_field.template %}
									{% endwith %}
									</select>
								{% else %}
								<input name="{{entry}}" type="text" class="form-control{% if current_field.type == 'FIELD_TYPE_DATE' %} date-form-field{% endif %}" id="{{entry}}" placeholder="Enter a {{entry}}" value="{{container|get_value:entry}}"/>
								{% endif %}
							</div>
							{% endwith %}
							{% endfor %}
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" role="button" data-toggle="tooltip" data-placement="bottom" title="Save the modifications" onclick="onchange_{{index}}(true)" data-dismiss="modal">Save</button>
						<button type="button" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Close the popup" onclick="onchange_{{index}}(false)" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>