
							
							
							
							<div class="form-group">
								<label for="{{prefix}}alias_value">Pseudonyme</label>
								
								<input name="{{prefix}}alias_value" type="text" class="form-control" id="{{prefix}}alias_value" placeholder="Entrer un pseudonyme" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="{{prefix}}alias_additional">Information additionnelle</label>
								
								<input name="{{prefix}}alias_additional" type="text" class="form-control" id="{{prefix}}alias_additional" placeholder="Ajouter des informations" value=""/>
								
							</div>
							
							
							