
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="alias_value">Alias</label>
	
	<input name="{{prefix}}alias_value" type="text" class="form-control" id="{{prefix}}alias_value" placeholder="Select an alias" value=""/>
	
</div>



<div class="form-group">
	<label for="alias_additional">Additional information</label>
	
	<input name="{{prefix}}alias_additional" type="text" class="form-control" id="{{prefix}}alias_additional" placeholder="Enter additional information" value=""/>
	
</div>

