
							
							
							
							<div class="form-group">
								<label for="alias_additional">Information additionnelle</label>
								
								<input name="alias_additional" type="text" class="form-control" id="alias_additional" placeholder="Ajouter des informations" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="alias_type">Type de pseudonyme</label>
								
									<select id="alias_type" name="alias_type" class="form-control">
									<option value='ALIAS_ISIN' >ISIN</option><option value='ALIAS_TICKER' >Ticker</option>
									</select>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="id">Identifiant</label>
								
								<input name="id" type="text" class="form-control" id="id" placeholder="Entrer un identifiant" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="alias_value">Pseudonyme</label>
								
								<input name="alias_value" type="text" class="form-control" id="alias_value" placeholder="Entrer un pseudonyme" value=""/>
								
							</div>
							
							
							