
							
							
							
							<div class="form-group">
								<label for="alias_value">Alias</label>
								
								<input name="alias_value" type="text" class="form-control" id="alias_value" placeholder="Select an alias" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="alias_additional">Additional information</label>
								
								<input name="alias_additional" type="text" class="form-control" id="alias_additional" placeholder="Enter additional information" value=""/>
								
							</div>
							
							
							