<select class="form-control">

	<option value='SETUP_STATICS_PATH'>Django Statics files path</option>

	<option value='SETUP_TEMPLATES_STATICS_PATH'>Django Templates files path</option>

	<option value='SETUP_MAILGUN_DEFAULT_CAMPAIGN'>Mailgun default campaign</option>

	<option value='SETUP_MAILGUN_DOMAIN'>Mailgun domain</option>

	<option value='SETUP_MAILGUN_ENABLE'>Mailgun enable</option>

	<option value='SETUP_MAILGUN_KEY'>Mailgun key</option>

	<option value='SETUP_MAILGUN_FROM'>Mailgun sender</option>

	<option value='SETUP_MAIN_PATH'>Main application path</option>

	<option value='SETUP_RESOURCES_MAIN_PATH'>Resources main path</option>

	<option value='SETUP_WORKING_PATH'>Temporary working path</option>

	<option value='SETUP_MONGO_URL'>URL MongoDB</option>

</select>