<select class="form-control">

	{% if not active_list or "TRANSLATION_BLOOMBERG_CUSIP" in active_list %}<option value='TRANSLATION_BLOOMBERG_CUSIP'{% if value == 'TRANSLATION_BLOOMBERG_CUSIP' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "TRANSLATION_BLOOMBERG_ISIN" in active_list %}<option value='TRANSLATION_BLOOMBERG_ISIN'{% if value == 'TRANSLATION_BLOOMBERG_ISIN' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "TRANSLATION_BLOOMBERG_TICKER_EXCH" in active_list %}<option value='TRANSLATION_BLOOMBERG_TICKER_EXCH'{% if value == 'TRANSLATION_BLOOMBERG_TICKER_EXCH' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

</select>