
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="person">Personne</label>
	
		<select id="{{prefix}}person" name="{{prefix}}person" class="form-control">
		<option value='CONT_COMPANY' >Compagnie</option><option value='CONT_CONTAINER' >Container</option><option value='CONT_DOCUMENT' >Document</option><option value='CONT_MAIL_CAMPAIGN' >Campagne de mails</option><option value='CONT_PERSON' >Personne</option><option value='CONT_THIRD_PARTY' >NO TRANSLATION</option><option value='CONT_UNIVERSE' >Univers</option>
		</select>
	
</div>

