
<input id="{{prefix}}id" name="{{prefix}}-id" type="hidden"/>


<div class="form-group">
	<label for="line_type">Type</label>
	
		<select id="{{prefix}}line_type" name="{{prefix}}line_type" class="form-control">
		<option value='PHONE_LAND_CONTACT' >Contact Landline</option><option value='PHONE_MOB_CONTACT' >Numéro mobile de contact</option><option value='PHONE_FAX_HONE' >Fax privé</option><option value='PHONE_LAND_PERSONAL' >Ligne fixe privée</option><option value='PHONE_MOB_PERSONAL' >Numéro mobile privé</option><option value='PHONE_FAX_WORK' >Fax professionnel</option><option value='PHONE_LAND_WORK' >Ligne fixe professionnelle</option><option value='PHONE_MOB_WORK' >Numéro mobile professionnel</option>
		</select>
	
</div>



<div class="form-group">
	<label for="phone_number">Numéro de téléphone</label>
	
	<input name="{{prefix}}phone_number" type="text" class="form-control" id="{{prefix}}phone_number" placeholder="Entrer un numéro de téléphone" value=""/>
	
</div>

