
							
							
							
							<div class="form-group">
								<label for="closed_date">Date de clotûre</label>
								
								<input name="closed_date" type="text" class="form-control date-form-field" id="closed_date" placeholder="Choisir une date de clotûre" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="status">Statut</label>
								
									<select id="status" name="status" class="form-control">
									<option value='STATUS_ACTIVE' >Actif</option><option value='STATUS_CLOSED' >Fermé</option><option value='STATUS_CLOSING' >En cours de fermeture</option><option value='STATUS_TO_BE_VALIDATED' >A valider</option>
									</select>
								
							</div>
							
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label for="short_name">Pseudonyme</label>
								
								<input name="short_name" type="text" class="form-control" id="short_name" placeholder="Entrer un pseudonyme" value=""/>
								
							</div>
							
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label for="inception_date">Date de création</label>
								
								<input name="inception_date" type="text" class="form-control date-form-field" id="inception_date" placeholder="Choisir une date de création" value=""/>
								
							</div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label for="short_description">Résumé</label>
								
								<input name="short_description" type="text" class="form-control" id="short_description" placeholder="Entrer un résumé" value=""/>
								
							</div>
							
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label for="type">Type</label>
								
									<select id="type" name="type" class="form-control">
									<option value='CONT_COMPANY' >Compagnie</option><option value='CONT_MAIL_CAMPAIGN' >Campagne de mails</option><option value='CONT_PERSON' >Personne</option><option value='CONT_UNIVERSE' >Univers</option>
									</select>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="id">Identifiant</label>
								
								<input name="id" type="text" class="form-control" id="id" placeholder="Entrer un identifiant" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="name">Nom</label>
								
								<input name="name" type="text" class="form-control" id="name" placeholder="Entrer un nom" value=""/>
								
							</div>
							
							
							