
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="type">Type</label>
	
		<select id="{{prefix}}type" name="{{prefix}}type" class="form-control">
		<option value='CONT_COMPANY' >Compagnie</option><option value='CONT_CONTAINER' >Container</option><option value='CONT_DOCUMENT' >Document</option><option value='CONT_MAIL_CAMPAIGN' >Campagne de mails</option><option value='CONT_PERSON' >Personne</option><option value='CONT_THIRD_PARTY' >NO TRANSLATION</option><option value='CONT_UNIVERSE' >Univers</option>
		</select>
	
</div>



<div class="form-group">
	<label for="name">Nom</label>
	
	<input name="{{prefix}}name" type="text" class="form-control " id="{{prefix}}name" placeholder="Entrer un nom"  value=""/>
	
</div>



<div class="form-group">
	<label for="short_name">Pseudonyme</label>
	
	<input name="{{prefix}}short_name" type="text" class="form-control " id="{{prefix}}short_name" placeholder="Entrer un pseudonyme"  value=""/>
	
</div>



<div class="form-group">
	<label for="inception_date">Date de création</label>
	
	<input name="{{prefix}}inception_date" type="text" class="form-control date-form-field " id="{{prefix}}inception_date" placeholder="Choisir une date de création"  value=""/>
	
</div>



<div class="form-group">
	<label for="status">Statut</label>
	
		<select id="{{prefix}}status" name="{{prefix}}status" class="form-control">
		<option value='STATUS_ACTIVE' >Actif</option><option value='STATUS_CLOSED' >Fermé</option><option value='STATUS_CLOSING' >En cours de fermeture</option><option value='STATUS_TO_BE_VALIDATED' >A valider</option>
		</select>
	
</div>

