
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="line_type">Type</label>
	
		<select id="{{prefix}}line_type" name="{{prefix}}line_type" class="form-control">
		<option value='PHONE_LAND_CONTACT' >Contact Landline</option><option value='PHONE_MOB_CONTACT' >Contact Mobile</option><option value='PHONE_FAX_HONE' >Home Fax</option><option value='PHONE_LAND_PERSONAL' >Personal Landline</option><option value='PHONE_MOB_PERSONAL' >Personal Mobile</option><option value='PHONE_FAX_WORK' >Work Fax</option><option value='PHONE_LAND_WORK' >Work Landline</option><option value='PHONE_MOB_WORK' >Work Mobile</option>
		</select>
	
</div>



<div class="form-group">
	<label for="phone_number">Number</label>
	
	<input name="{{prefix}}phone_number" type="text" class="form-control " id="{{prefix}}phone_number" placeholder="Enter the number"  value=""/>
	
</div>

