
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="address_type">Type d&#39;adresse</label>
	
		<select id="{{prefix}}address_type" name="{{prefix}}address_type" class="form-control">
		<option value='EMAIL_CONTACT' >Email de contact</option><option value='EMAIL_PERSONAL' >Email privé</option><option value='EMAIL_WORK' >Email professionnel</option>
		</select>
	
</div>



<div class="form-group">
	<label for="email_address">Adresse mèl</label>
	
	<input name="{{prefix}}email_address" type="text" class="form-control " id="{{prefix}}email_address" placeholder="Entrer une adresse email" " value=""/>
	
</div>

