
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="address_type">Address type</label>
	
		<select id="{{prefix}}address_type" name="{{prefix}}address_type" class="form-control">
		<option value='EMAIL_CONTACT' >Contact Email</option><option value='EMAIL_PERSONAL' >Personal Email</option><option value='EMAIL_WORK' >Work Email</option>
		</select>
	
</div>



<div class="form-group">
	<label for="email_address">Address</label>
	
	<input name="{{prefix}}email_address" type="text" class="form-control " id="{{prefix}}email_address" placeholder="Enter an email address" " value=""/>
	
</div>

