
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="company">Company</label>
	
		<select id="{{prefix}}company" name="{{prefix}}company" class="form-control">
		<option value='CONT_COMPANY' >Company</option><option value='CONT_CONTAINER' >Container</option><option value='CONT_DOCUMENT' >Document</option><option value='CONT_MAIL_CAMPAIGN' >Marketing Mailing Campaign</option><option value='CONT_PERSON' >Person</option><option value='CONT_THIRD_PARTY' >NO TRANSLATION</option><option value='CONT_UNIVERSE' >Universe</option>
		</select>
	
</div>

