<select class="form-control">

	<option value='CONT_COMPANY_CLASS'>container.models.CompanyContainer</option>

	<option value='CONT_CONTAINER_CLASS'>container.models.Container</option>

	<option value='CONT_MAIL_CAMPAIGN_CLASS'>container.models.MailCampaignContainer</option>

	<option value='CONT_PERSON_CLASS'>container.models.PersonContainer</option>

	<option value='CONT_THIRD_PARTY_CLASS'>NO TRANSLATION</option>

	<option value='CONT_UNIVERSE_CLASS'>container.models.Universe</option>

</select>