

	
		
			<div class="form-group">
				<label for="owner">Propriétaire</label>
				
					<select id="owner" name="owner" class="form-control" >
					
						
	<option value='11' >pnformige</option>

	<option value='12' >mouazragh</option>

	<option value='13' >mchacun</option>

	<option value='1' >sdejonckheere</option>

	<option value='2' >stephane</option>

	<option value='3' >aqerimi</option>

	<option value='4' >ckeller</option>

	<option value='5' >lsoots</option>

	<option value='6' >abarillet</option>

	<option value='7' >lschmid</option>

	<option value='8' >jvillar</option>

	<option value='9' >oroncari</option>

	<option value='10' >jmirza</option>

					
					</select>
				
			</div>
		
	

	
		
			<div class="form-group">
				<label for="public">Public</label>
				
					
					<div>
					<label ><input id="public" name="public" type="checkbox" value="True" onchange="fieldDefaultChanged(event)" > <small>Est-ce public?</small></label>
					</div>
					
				
			</div>
		
	
