

	
		
			<div class="form-group">
				<label for="status">Statut</label>
				
					<select id="status" name="status" class="form-control">
					<option value='STATUS_ACTIVE' >Actif</option><option value='STATUS_CLOSED' >Fermé</option><option value='STATUS_CLOSING' >En cours de fermeture</option><option value='STATUS_TO_BE_VALIDATED' >A valider</option>
					</select>
				
			</div>
		
	

	
		
			<div class="form-group">
				<label for="type">Type</label>
				
					<select id="type" name="type" class="form-control">
					<option value='CONT_COMPANY' >Compagnie</option><option value='CONT_CONTAINER' >Container</option><option value='CONT_DOCUMENT' >Document</option><option value='CONT_MAIL_CAMPAIGN' >Campagne de mails</option><option value='CONT_PERSON' >Personne</option><option value='CONT_UNIVERSE' >Univers</option>
					</select>
				
			</div>
		
	
