
							
							
							
							<div class="form-group">
								<label for="status">Statut</label>
								
									<select id="status" name="status" class="form-control">
									<option value='STATUS_ACTIVE' >Actif</option><option value='STATUS_CLOSED' >Fermé</option><option value='STATUS_CLOSING' >En cours de fermeture</option><option value='STATUS_TO_BE_VALIDATED' >A valider</option>
									</select>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="addresses">Adresses</label>
								
									<select id="addresses" name="addresses" class="form-control">
									<option value='ADR_HOME' >Domicile</option><option value='ADR_MAIN_OFFICE' >Bureau principal</option><option value='ADR_SUBSI_OFFICE' >Bueau secondaire</option><option value='ADR_WEB' >Adresse internet</option><option value='ADR_WORK' >Travail</option>
									</select>
								
							</div>
							
							
							