<select class="form-control">

	<option value='CONT_UNIVERSE_CLASS'>container.models.Universe</option>

	<option value='CONT_COMPANY_CLASS'>inventory.models.CompanyContainer</option>

	<option value='CONT_MAIL_CAMPAIGN_CLASS'>inventory.models.MailCampaignContainer</option>

	<option value='CONT_PERSON_CLASS'>inventory.models.PersonContainer</option>

	<option value='CONT_SPOT_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_FORWARD_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_PUT_CLASS'>universe.models.SecurityContainer</option>

	<option value='CONT_CALL_CLASS'>universe.models.SecurityContainer</option>

</select>