
							
							
							
							
							<div class="form-group">
								<label for="status">Statut</label>
								<select id="status-None" name="status-None" class="form-control">
									
										
										
									
								</select>
								<input name="status" id="status" type="text" class="form-control with-autocomplete" placeholder="Choisir un statut" value="" datasource=""/>
							</div>
							
							<div class="form-group">
								<label for="status">Statut</label>
								<select id="status-None" name="status-None" class="form-control">
									
										
										
									
								</select>
								<input name="status" id="status" type="text" class="form-control with-autocomplete" placeholder="Choisir un statut" value="" datasource=""/>
							</div>
							
							<div class="form-group">
								<label for="status">Statut</label>
								<select id="status-None" name="status-None" class="form-control">
									
										
										
									
								</select>
								<input name="status" id="status" type="text" class="form-control with-autocomplete" placeholder="Choisir un statut" value="" datasource=""/>
							</div>
							
							<div class="form-group">
								<label for="status">Statut</label>
								<select id="status-None" name="status-None" class="form-control">
									
										
										
									
								</select>
								<input name="status" id="status" type="text" class="form-control with-autocomplete" placeholder="Choisir un statut" value="" datasource=""/>
							</div>
							
							<div class="form-group">
								<label for="status">Statut</label>
								<select id="status-None" name="status-None" class="form-control">
									
										
										
									
								</select>
								<input name="status" id="status" type="text" class="form-control with-autocomplete" placeholder="Choisir un statut" value="" datasource=""/>
							</div>
							
							
							
							
							
							
							<div class="form-group">
								<label for="first_name">Prénom</label>
								
								<input name="first_name" type="text" class="form-control" id="first_name" placeholder="Entrer un prénom" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="last_name">Nom de famille</label>
								
								<input name="last_name" type="text" class="form-control" id="last_name" placeholder="Entrer un nom de famille" value=""/>
								
							</div>
							
							
							