

	
		
			
				
				<div class="form-group">
					<label for="phones_0">Téléphones</label>
					
						<select id="phones_0" name="phones_0" class="form-control">
						<option value='PHONE_LAND_CONTACT' >Contact Landline</option><option value='PHONE_MOB_CONTACT' >Contact Mobile</option><option value='PHONE_LAND_WORK' >Work Landline</option><option value='PHONE_MOB_WORK' >Work Mobile</option>
						</select>
					
				</div>
				<blockquote id="phones_0blockquote">
				<h6>
				
<input id="phones_0.id" name="phones_0.id" type="hidden"/>


<div class="form-group">
	<label for="phone_number">Number</label>
	
	<input name="phones_0.phone_number" type="text" class="form-control " id="phones_0.phone_number" placeholder="Enter the number" " value=""/>
	
</div>


				</h6>
				</blockquote>
				
			
		
	

	
		
			<div class="form-group">
				<label for="first_name">Prénom</label>
				
					
					<input name="first_name" type="text" class="form-control" id="first_name" placeholder="Entrer un prénom"  value=""/>
					
				
			</div>
		
	

	
		
			<div class="form-group">
				<label for="last_name">Nom de famille</label>
				
					
					<input name="last_name" type="text" class="form-control" id="last_name" placeholder="Entrer un nom de famille"  value=""/>
					
				
			</div>
		
	

	
		
			
				
				<div class="form-group">
					<label for="emails_0">Emails</label>
					
						<select id="emails_0" name="emails_0" class="form-control">
						<option value='EMAIL_CONTACT' >Contact Email</option><option value='EMAIL_PERSONAL' >Personal Email</option><option value='EMAIL_WORK' >Work Email</option>
						</select>
					
				</div>
				<blockquote id="emails_0blockquote">
				<h6>
				
<input id="emails_0.id" name="emails_0.id" type="hidden"/>


<div class="form-group">
	<label for="email_address">Address</label>
	
	<input name="emails_0.email_address" type="text" class="form-control " id="emails_0.email_address" placeholder="Enter an email address" " value=""/>
	
</div>


				</h6>
				</blockquote>
				
			
		
	
