
<input id="{{prefix}}id" name="{{prefix}}id" type="hidden"/>


<div class="form-group">
	<label for="name">Name</label>
	
	<input name="{{prefix}}name" type="text" class="form-control" id="{{prefix}}name" placeholder="Enter a name" value=""/>
	
</div>



<div class="form-group">
	<label for="short_name">Alias</label>
	
	<input name="{{prefix}}short_name" type="text" class="form-control" id="{{prefix}}short_name" placeholder="Enter an alias" value=""/>
	
</div>



<div class="form-group">
	<label for="inception_date">Inception date</label>
	
	<input name="{{prefix}}inception_date" type="text" class="form-control date-form-field" id="{{prefix}}inception_date" placeholder="Enter the inception date" value=""/>
	
</div>



<div class="form-group">
	<label for="status">Status</label>
	
		<select id="{{prefix}}status" name="{{prefix}}status" class="form-control">
		<option value='STATUS_ACTIVE' >Active</option><option value='STATUS_CLOSED' >Closed</option><option value='STATUS_CLOSING' >Closing</option><option value='STATUS_TO_BE_VALIDATED' >To be validated</option>
		</select>
	
</div>

