<select class="form-control">

	<option value='CONT_UNIVERSE_CLASS'>NO TRANSLATION</option>

	<option value='CONT_COMPANY_CLASS'>NO TRANSLATION</option>

	<option value='CONT_MAIL_CAMPAIGN_CLASS'>NO TRANSLATION</option>

	<option value='CONT_PERSON_CLASS'>NO TRANSLATION</option>

	<option value='CONT_SPOT_CLASS'>NO TRANSLATION</option>

	<option value='CONT_FORWARD_CLASS'>NO TRANSLATION</option>

	<option value='CONT_PUT_CLASS'>NO TRANSLATION</option>

	<option value='CONT_CALL_CLASS'>NO TRANSLATION</option>

</select>