

	
		
			<div class="form-group">
				<label for="owner">Propriétaire</label>
				
					<select id="owner" name="owner" class="form-control" >
					
						
	<option value='2' >stephane</option>

	<option value='1' >sdejonckheere</option>

					
					</select>
				
			</div>
		
	

	
		
			<div class="form-group">
				<label for="public">Publique</label>
				
					
					<div>
					<label ><input id="public" name="public" type="checkbox" value="True" onchange="fieldDefaultChanged(event)" > <small>Est-ce publique?</small></label>
					</div>
					
				
			</div>
		
	
