<select class="form-control">

	{% if not active_list or "STEP_POST_DELETE" in active_list %}<option value='STEP_POST_DELETE'{% if value == 'STEP_POST_DELETE' %} selected{% endif %}>Après effacement</option>{% endif %}

	{% if not active_list or "STEP_POST_SAVE" in active_list %}<option value='STEP_POST_SAVE'{% if value == 'STEP_POST_SAVE' %} selected{% endif %}>Après sauvegarde</option>{% endif %}

	{% if not active_list or "STEP_PRE_DELETE" in active_list %}<option value='STEP_PRE_DELETE'{% if value == 'STEP_PRE_DELETE' %} selected{% endif %}>Avant effacement</option>{% endif %}

	{% if not active_list or "STEP_PRE_SAVE" in active_list %}<option value='STEP_PRE_SAVE'{% if value == 'STEP_PRE_SAVE' %} selected{% endif %}>Avant sauvegarde</option>{% endif %}

</select>