<select class="form-control">

	<option value='CURR_XUA'>ADB Unit of Account</option>

	<option value='CURR_AFN'>Afghani</option>

	<option value='CURR_DZD'>Algerian Dinar</option>

	<option value='CURR_ARS'>Argentine Peso</option>

	<option value='CURR_AMD'>Armenian Dram</option>

	<option value='CURR_AWG'>Aruban Florin</option>

	<option value='CURR_AUD'>Australian Dollar</option>

	<option value='CURR_AZN'>Azerbaijanian Manat</option>

	<option value='CURR_BSD'>Bahamian Dollar</option>

	<option value='CURR_BHD'>Bahraini Dinar</option>

	<option value='CURR_THB'>Baht</option>

	<option value='CURR_PAB'>Balboa</option>

	<option value='CURR_BBD'>Barbados Dollar</option>

	<option value='CURR_BYR'>Belarussian Ruble</option>

	<option value='CURR_BZD'>Belize Dollar</option>

	<option value='CURR_BMD'>Bermudian Dollar</option>

	<option value='CURR_VEF'>Bolivar</option>

	<option value='CURR_BOB'>Boliviano</option>

	<option value='CURR_XBA'>Bond Markets Unit European Composite Unit (EURCO)</option>

	<option value='CURR_XBB'>Bond Markets Unit European Monetary Unit (E.M.U.-6)</option>

	<option value='CURR_XBD'>Bond Markets Unit European Unit of Account 17 (E.U.A.-17)</option>

	<option value='CURR_XBC'>Bond Markets Unit European Unit of Account 9 (E.U.A.-9)</option>

	<option value='CURR_BRL'>Brazilian Real</option>

	<option value='CURR_BND'>Brunei Dollar</option>

	<option value='CURR_BGN'>Bulgarian Lev</option>

	<option value='CURR_BIF'>Burundi Franc</option>

	<option value='CURR_CAD'>Canadian Dollar</option>

	<option value='CURR_CVE'>Cape Verde Escudo</option>

	<option value='CURR_KYD'>Cayman Islands Dollar</option>

	<option value='CURR_XOF'>CFA Franc BCEAO</option>

	<option value='CURR_XAF'>CFA Franc BEAC</option>

	<option value='CURR_XPF'>CFP Franc</option>

	<option value='CURR_CLP'>Chilean Peso</option>

	<option value='CURR_XTS'>Codes specifically reserved for testing purposes</option>

	<option value='CURR_COP'>Colombian Peso</option>

	<option value='CURR_KMF'>Comoro Franc</option>

	<option value='CURR_CDF'>Congolese Franc</option>

	<option value='CURR_BAM'>Convertible Mark</option>

	<option value='CURR_NIO'>Cordoba Oro</option>

	<option value='CURR_CRC'>Costa Rican Colon</option>

	<option value='CURR_HRK'>Croatian Kuna</option>

	<option value='CURR_CUP'>Cuban Peso</option>

	<option value='CURR_CZK'>Czech Koruna</option>

	<option value='CURR_GMD'>Dalasi</option>

	<option value='CURR_DKK'>Danish Krone</option>

	<option value='CURR_MKD'>Denar</option>

	<option value='CURR_DJF'>Djibouti Franc</option>

	<option value='CURR_STD'>Dobra</option>

	<option value='CURR_DOP'>Dominican Peso</option>

	<option value='CURR_VND'>Dong</option>

	<option value='CURR_XCD'>East Caribbean Dollar</option>

	<option value='CURR_EGP'>Egyptian Pound</option>

	<option value='CURR_SVC'>El Salvador Colon</option>

	<option value='CURR_ETB'>Ethiopian Birr</option>

	<option value='CURR_EUR'>Ethiopian Birr</option>

	<option value='CURR_FKP'>Falkland Islands Pound</option>

	<option value='CURR_FJD'>Fiji Dollar</option>

	<option value='CURR_HUF'>Forint</option>

	<option value='CURR_GHS'>Ghana Cedi</option>

	<option value='CURR_GIP'>Gibraltar Pound</option>

	<option value='CURR_XAU'>Gold</option>

	<option value='CURR_HTG'>Gourde</option>

	<option value='CURR_PYG'>Guarani</option>

	<option value='CURR_GNF'>Guinea Franc</option>

	<option value='CURR_GYD'>Guyana Dollar</option>

	<option value='CURR_HKD'>Hong Kong Dollar</option>

	<option value='CURR_UAH'>Hryvnia</option>

	<option value='CURR_ISK'>Iceland Krona</option>

	<option value='CURR_INR'>Indian Rupee</option>

	<option value='CURR_IRR'>Iranian Rial</option>

	<option value='CURR_IQD'>Iraqi Dinar</option>

	<option value='CURR_JMD'>Jamaican Dollar</option>

	<option value='CURR_JOD'>Jordanian Dinar</option>

	<option value='CURR_KES'>Kenyan Shilling</option>

	<option value='CURR_PGK'>Kina</option>

	<option value='CURR_LAK'>Kip</option>

	<option value='CURR_KWD'>Kuwaiti Dinar</option>

	<option value='CURR_MWK'>Kwacha</option>

	<option value='CURR_AOA'>Kwanza</option>

	<option value='CURR_MMK'>Kyat</option>

	<option value='CURR_GEL'>Lari</option>

	<option value='CURR_LVL'>Latvian Lats</option>

	<option value='CURR_LBP'>Lebanese Pound</option>

	<option value='CURR_ALL'>Lek</option>

	<option value='CURR_HNL'>Lempira</option>

	<option value='CURR_SLL'>Leone</option>

	<option value='CURR_LRD'>Liberian Dollar</option>

	<option value='CURR_LYD'>Libyan Dinar</option>

	<option value='CURR_SZL'>Lilangeni</option>

	<option value='CURR_LTL'>Lithuanian Litas</option>

	<option value='CURR_LSL'>Loti</option>

	<option value='CURR_MGA'>Malagasy Ariary</option>

	<option value='CURR_MYR'>Malaysian Ringgit</option>

	<option value='CURR_MUR'>Mauritius Rupee</option>

	<option value='CURR_MXN'>Mexican Peso</option>

	<option value='CURR_MXV'>Mexican Unidad de Inversion (UDI)</option>

	<option value='CURR_MDL'>Moldovan Leu</option>

	<option value='CURR_MAD'>Moroccan Dirham</option>

	<option value='CURR_MZN'>Mozambique Metical</option>

	<option value='CURR_BOV'>Mvdol</option>

	<option value='CURR_NGN'>Naira</option>

	<option value='CURR_ERN'>Nakfa</option>

	<option value='CURR_NAD'>Namibia Dollar</option>

	<option value='CURR_NPR'>Nepalese Rupee</option>

	<option value='CURR_ANG'>Netherlands Antillean Guilder</option>

	<option value='CURR_ILS'>New Israeli Sheqel</option>

	<option value='CURR_RON'>New Romanian Leu</option>

	<option value='CURR_TWD'>New Taiwan Dollar</option>

	<option value='CURR_NZD'>New Zealand Dollar</option>

	<option value='CURR_BTN'>Ngultrum</option>

	<option value='CURR_KPW'>North Korean Won</option>

	<option value='CURR_NOK'>Norwegian Krone</option>

	<option value='CURR_PEN'>Nuevo Sol</option>

	<option value='CURR_CNH'>Offshote Chinese Renminbi</option>

	<option value='CURR_MRO'>Ouguiya</option>

	<option value='CURR_TOP'>Pa&#39;anga</option>

	<option value='CURR_PKR'>Pakistan Rupee</option>

	<option value='CURR_XPD'>Palladium</option>

	<option value='CURR_MOP'>Pataca</option>

	<option value='CURR_GBp'>Pence Sterling</option>

	<option value='CURR_CUC'>Peso Convertible</option>

	<option value='CURR_UYU'>Peso Uruguayo</option>

	<option value='CURR_PHP'>Philippine Peso</option>

	<option value='CURR_XPT'>Platinum</option>

	<option value='CURR_GBP'>Pound Sterling</option>

	<option value='CURR_BWP'>Pula</option>

	<option value='CURR_QAR'>Qatari Rial</option>

	<option value='CURR_GTQ'>Quetzal</option>

	<option value='CURR_ZAR'>Rand</option>

	<option value='CURR_OMR'>Rial Omani</option>

	<option value='CURR_KHR'>Riel</option>

	<option value='CURR_MVR'>Rufiyaa</option>

	<option value='CURR_IDR'>Rupiah</option>

	<option value='CURR_RUB'>Russian Ruble</option>

	<option value='CURR_RWF'>Rwanda Franc</option>

	<option value='CURR_SHP'>Saint Helena Pound</option>

	<option value='CURR_SAR'>Saudi Riyal</option>

	<option value='CURR_XDR'>SDR (Special Drawing Right)</option>

	<option value='CURR_RSD'>Serbian Dinar</option>

	<option value='CURR_SCR'>Seychelles Rupee</option>

	<option value='CURR_XAG'>Silver</option>

	<option value='CURR_SGD'>Singapore Dollar</option>

	<option value='CURR_SBD'>Solomon Islands Dollar</option>

	<option value='CURR_KGS'>Som</option>

	<option value='CURR_SOS'>Somali Shilling</option>

	<option value='CURR_TJS'>Somoni</option>

	<option value='CURR_SSP'>South Sudanese Pound</option>

	<option value='CURR_LKR'>Sri Lanka Rupee</option>

	<option value='CURR_XSU'>Sucre</option>

	<option value='CURR_SDG'>Sudanese Pound</option>

	<option value='CURR_SRD'>Surinam Dollar</option>

	<option value='CURR_SEK'>Swedish Krona</option>

	<option value='CURR_CHF'>Swiss Franc</option>

	<option value='CURR_SYP'>Syrian Pound</option>

	<option value='CURR_BDT'>Taka</option>

	<option value='CURR_WST'>Tala</option>

	<option value='CURR_TZS'>Tanzanian Shilling</option>

	<option value='CURR_KZT'>Tenge</option>

	<option value='CURR_XXX'>The codes assigned for transactions where no currency is involved</option>

	<option value='CURR_TTD'>Trinidad and Tobago Dollar</option>

	<option value='CURR_MNT'>Tugrik</option>

	<option value='CURR_TND'>Tunisian Dinar</option>

	<option value='CURR_TRY'>Turkish Lira</option>

	<option value='CURR_TMT'>Turkmenistan New Manat</option>

	<option value='CURR_AED'>UAE Dirham</option>

	<option value='CURR_UGX'>Uganda Shilling</option>

	<option value='CURR_XFU'>UIC-Franc</option>

	<option value='CURR_COU'>Unidad de Valor Real</option>

	<option value='CURR_CLF'>Unidades de fomento</option>

	<option value='CURR_UYI'>Uruguay Peso en Unidades Indexadas (URUIURUI)</option>

	<option value='CURR_USD'>US Dollar</option>

	<option value='CURR_USN'>US Dollar (Next day)</option>

	<option value='CURR_USS'>US Dollar (Same day)</option>

	<option value='CURR_UZS'>Uzbekistan Sum</option>

	<option value='CURR_VUV'>Vatu</option>

	<option value='CURR_CHE'>WIR Euro</option>

	<option value='CURR_CHW'>WIR Franc</option>

	<option value='CURR_KRW'>Won</option>

	<option value='CURR_YER'>Yemeni Rial</option>

	<option value='CURR_JPY'>Yen</option>

	<option value='CURR_CNY'>Yuan Renminbi</option>

	<option value='CURR_ZMW'>Zambian Kwacha</option>

	<option value='CURR_ZWL'>Zimbabwe Dollar</option>

	<option value='CURR_PLN'>Zloty</option>

</select>