<select class="form-control">

	<option value='DT_REF_APRIL'>Avril</option>

	<option value='DT_REF_AUGUST'>Août</option>

	<option value='DT_REF_DECEMBER'>Décembre</option>

	<option value='DT_REF_FEBRUARY'>Février</option>

	<option value='DT_REF_Q1'>Premier trimestre</option>

	<option value='DT_REF_S1'>Premier semestre</option>

	<option value='DT_REF_Q4'>Quatrième trimestre</option>

	<option value='DT_REF_FRIDAY'>Vendredi</option>

	<option value='DT_REF_JANUARY'>Janvier</option>

	<option value='DT_REF_JULY'>Juillet</option>

	<option value='DT_REF_JUNE'>Juin</option>

	<option value='DT_REF_MARCH'>Mars</option>

	<option value='DT_REF_MAY'>Mai</option>

	<option value='DT_REF_MONDAY'>Lundi</option>

	<option value='DT_REF_NOVEMBER'>Novembre</option>

	<option value='DT_REF_OCTOBER'>Octobre</option>

	<option value='DT_REF_SATURDAY'>Samedi</option>

	<option value='DT_REF_Q2'>Second trimestre</option>

	<option value='DT_REF_S2'>Second semestre</option>

	<option value='DT_REF_SEPTEMBER'>Septembre</option>

	<option value='DT_REF_SUNDAY'>Dimanche</option>

	<option value='DT_REF_Q3'>Troisième trimestre</option>

	<option value='DT_REF_THURSDAY'>Jeuid</option>

	<option value='DT_REF_TUESDAY'>Mardi</option>

	<option value='DT_REF_WEDNESDAY'>Mercredi</option>

</select>