
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="document_group">Document group</label>
			<input name="document_group" type="text" class="form-control no-enter" id="document_group" placeholder="Enter a document group" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="document_type">Document type</label>
			<input name="document_type" type="text" class="form-control no-enter" id="document_type" placeholder="Enter a document type" value=""/>
		</div>
		<script>
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the Document type and save it">Continue</button>
	</div>
</form>