<select class="form-control">

	{% if not active_list or "DOCUMENT_SUB_TYPE_ADMINISTRATIVE" in active_list %}<option value='DOCUMENT_SUB_TYPE_ADMINISTRATIVE'{% if value == 'DOCUMENT_SUB_TYPE_ADMINISTRATIVE' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "DOCUMENT_SUB_TYPE_INFORMATION_LETTER" in active_list %}<option value='DOCUMENT_SUB_TYPE_INFORMATION_LETTER'{% if value == 'DOCUMENT_SUB_TYPE_INFORMATION_LETTER' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "DOCUMENT_SUB_TYPE_NEWSLETTEr" in active_list %}<option value='DOCUMENT_SUB_TYPE_NEWSLETTEr'{% if value == 'DOCUMENT_SUB_TYPE_NEWSLETTEr' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "DOCUMENT_SUB_TYPE_NEWSLETTER" in active_list %}<option value='DOCUMENT_SUB_TYPE_NEWSLETTER'{% if value == 'DOCUMENT_SUB_TYPE_NEWSLETTER' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "DOCUMENT_SUB_TYPE_PROSPECTUS" in active_list %}<option value='DOCUMENT_SUB_TYPE_PROSPECTUS'{% if value == 'DOCUMENT_SUB_TYPE_PROSPECTUS' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "DOCUMENT_SUB_TYPE_SETTLEMENT" in active_list %}<option value='DOCUMENT_SUB_TYPE_SETTLEMENT'{% if value == 'DOCUMENT_SUB_TYPE_SETTLEMENT' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

</select>