<select class="form-control">

	{% if not active_list or "DURATION_UNIT_BUSINESS_DAY" in active_list %}<option value='DURATION_UNIT_BUSINESS_DAY'{% if value == 'DURATION_UNIT_BUSINESS_DAY' %} selected{% endif %}>Jour ouvrable</option>{% endif %}

	{% if not active_list or "DURATION_UNIT_DAY" in active_list %}<option value='DURATION_UNIT_DAY'{% if value == 'DURATION_UNIT_DAY' %} selected{% endif %}>Jour</option>{% endif %}

	{% if not active_list or "DURATION_UNIT_MONTH" in active_list %}<option value='DURATION_UNIT_MONTH'{% if value == 'DURATION_UNIT_MONTH' %} selected{% endif %}>Mois</option>{% endif %}

	{% if not active_list or "DURATION_UNIT_WEEK" in active_list %}<option value='DURATION_UNIT_WEEK'{% if value == 'DURATION_UNIT_WEEK' %} selected{% endif %}>Semaine</option>{% endif %}

	{% if not active_list or "DURATION_UNIT_YEAR" in active_list %}<option value='DURATION_UNIT_YEAR'{% if value == 'DURATION_UNIT_YEAR' %} selected{% endif %}>Années</option>{% endif %}

</select>