<select class="form-control">

	<option value='SETUP_RENDERED_ADDRESS'>NO TRANSLATION</option>

	<option value='SETUP_RENDERED_ALIAS'>NO TRANSLATION</option>

	<option value='SETUP_RENDERED_CONTAINER_MEMBER'>NO TRANSLATION</option>

	<option value='SETUP_RENDERED_COMPANY_SUBSIDIARY'>NO TRANSLATION</option>

	<option value='SETUP_RENDERED_CONTAINER'>NO TRANSLATION</option>

	<option value='SETUP_RENDERED_EMAIL'>NO TRANSLATION</option>

	<option value='SETUP_RENDERED_PERSON'>NO TRANSLATION</option>

	<option value='SETUP_RENDERED_PHONE'>NO TRANSLATION</option>

</select>