<select class="form-control">

	{% if not active_list or "SETUP_RENDERED_ADDRESS" in active_list %}<option value='SETUP_RENDERED_ADDRESS'{% if value == 'SETUP_RENDERED_ADDRESS' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_ALIAS" in active_list %}<option value='SETUP_RENDERED_ALIAS'{% if value == 'SETUP_RENDERED_ALIAS' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_COMPANY_MEMBER" in active_list %}<option value='SETUP_RENDERED_COMPANY_MEMBER'{% if value == 'SETUP_RENDERED_COMPANY_MEMBER' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_COMPANY_SUBSIDIARY" in active_list %}<option value='SETUP_RENDERED_COMPANY_SUBSIDIARY'{% if value == 'SETUP_RENDERED_COMPANY_SUBSIDIARY' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_CONTAINER" in active_list %}<option value='SETUP_RENDERED_CONTAINER'{% if value == 'SETUP_RENDERED_CONTAINER' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_EMAIL" in active_list %}<option value='SETUP_RENDERED_EMAIL'{% if value == 'SETUP_RENDERED_EMAIL' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_PERSON" in active_list %}<option value='SETUP_RENDERED_PERSON'{% if value == 'SETUP_RENDERED_PERSON' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_PHONE" in active_list %}<option value='SETUP_RENDERED_PHONE'{% if value == 'SETUP_RENDERED_PHONE' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

	{% if not active_list or "SETUP_RENDERED_THIRD_PARTY" in active_list %}<option value='SETUP_RENDERED_THIRD_PARTY'{% if value == 'SETUP_RENDERED_THIRD_PARTY' %} selected{% endif %}>NO TRANSLATION</option>{% endif %}

</select>