<select class="form-control">

	<option value='FAV_CURRENCY_CAD'>CAD</option>

	<option value='FAV_CURRENCY_CHF'>CHF</option>

	<option value='FAV_CURRENCY_EUR'>EUR</option>

	<option value='FAV_CURRENCY_GBP'>GBP</option>

	<option value='FAV_CURRENCY_HKD'>HKD</option>

	<option value='FAV_CURRENCY_NOK'>NOK</option>

	<option value='FAV_CURRENCY_RON'>RON</option>

	<option value='FAV_CURRENCY_SEK'>SEK</option>

	<option value='FAV_CURRENCY_SGD'>SGD</option>

	<option value='FAV_CURRENCY_USD'>USD</option>

</select>