<select class="form-control">

	{% if not active_list or "FAV_CURRENCY_CAD" in active_list %}<option value='FAV_CURRENCY_CAD'{% if value == 'FAV_CURRENCY_CAD' %} selected{% endif %}>CAD</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_CHF" in active_list %}<option value='FAV_CURRENCY_CHF'{% if value == 'FAV_CURRENCY_CHF' %} selected{% endif %}>CHF</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_EUR" in active_list %}<option value='FAV_CURRENCY_EUR'{% if value == 'FAV_CURRENCY_EUR' %} selected{% endif %}>EUR</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_GBP" in active_list %}<option value='FAV_CURRENCY_GBP'{% if value == 'FAV_CURRENCY_GBP' %} selected{% endif %}>GBP</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_HKD" in active_list %}<option value='FAV_CURRENCY_HKD'{% if value == 'FAV_CURRENCY_HKD' %} selected{% endif %}>HKD</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_NOK" in active_list %}<option value='FAV_CURRENCY_NOK'{% if value == 'FAV_CURRENCY_NOK' %} selected{% endif %}>NOK</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_RON" in active_list %}<option value='FAV_CURRENCY_RON'{% if value == 'FAV_CURRENCY_RON' %} selected{% endif %}>RON</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_SEK" in active_list %}<option value='FAV_CURRENCY_SEK'{% if value == 'FAV_CURRENCY_SEK' %} selected{% endif %}>SEK</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_SGD" in active_list %}<option value='FAV_CURRENCY_SGD'{% if value == 'FAV_CURRENCY_SGD' %} selected{% endif %}>SGD</option>{% endif %}

	{% if not active_list or "FAV_CURRENCY_USD" in active_list %}<option value='FAV_CURRENCY_USD'{% if value == 'FAV_CURRENCY_USD' %} selected{% endif %}>USD</option>{% endif %}

</select>