<select class="form-control">

	{% if not active_list or "FIELD_TYPE_CHOICE" in active_list %}<option value='FIELD_TYPE_CHOICE'{% if value == 'FIELD_TYPE_CHOICE' %} selected{% endif %}>Choice</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_DATE" in active_list %}<option value='FIELD_TYPE_DATE'{% if value == 'FIELD_TYPE_DATE' %} selected{% endif %}>Date</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_DOCUMENT" in active_list %}<option value='FIELD_TYPE_DOCUMENT'{% if value == 'FIELD_TYPE_DOCUMENT' %} selected{% endif %}>Document</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_FLOAT" in active_list %}<option value='FIELD_TYPE_FLOAT'{% if value == 'FIELD_TYPE_FLOAT' %} selected{% endif %}>Float</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_INTEGER" in active_list %}<option value='FIELD_TYPE_INTEGER'{% if value == 'FIELD_TYPE_INTEGER' %} selected{% endif %}>Number</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_PERCENT" in active_list %}<option value='FIELD_TYPE_PERCENT'{% if value == 'FIELD_TYPE_PERCENT' %} selected{% endif %}>Percentage</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_TEXT" in active_list %}<option value='FIELD_TYPE_TEXT'{% if value == 'FIELD_TYPE_TEXT' %} selected{% endif %}>Text</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_DATETIME" in active_list %}<option value='FIELD_TYPE_DATETIME'{% if value == 'FIELD_TYPE_DATETIME' %} selected{% endif %}>Timestamp</option>{% endif %}

</select>