<select class="form-control">

	{% if not active_list or "FIELD_ASSIGNMENT_LIMITED" in active_list %}<option value='FIELD_ASSIGNMENT_LIMITED'{% if value == 'FIELD_ASSIGNMENT_LIMITED' %} selected{% endif %}>Multiple instances but limited number per container</option>{% endif %}

	{% if not active_list or "FIELD_ASSIGNMENT_MULTIPLE" in active_list %}<option value='FIELD_ASSIGNMENT_MULTIPLE'{% if value == 'FIELD_ASSIGNMENT_MULTIPLE' %} selected{% endif %}>Multiple instances per container</option>{% endif %}

	{% if not active_list or "FIELD_ASSIGNMENT_SINGLE" in active_list %}<option value='FIELD_ASSIGNMENT_SINGLE'{% if value == 'FIELD_ASSIGNMENT_SINGLE' %} selected{% endif %}>One instance per container</option>{% endif %}

</select>