<select class="form-control">

	{% if not active_list or "FIELD_TYPE_CHOICE" in active_list %}<option value='FIELD_TYPE_CHOICE'{% if value == 'FIELD_TYPE_CHOICE' %} selected{% endif %}>Choix</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_DATE" in active_list %}<option value='FIELD_TYPE_DATE'{% if value == 'FIELD_TYPE_DATE' %} selected{% endif %}>Date</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_DOCUMENT" in active_list %}<option value='FIELD_TYPE_DOCUMENT'{% if value == 'FIELD_TYPE_DOCUMENT' %} selected{% endif %}>Document</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_FLOAT" in active_list %}<option value='FIELD_TYPE_FLOAT'{% if value == 'FIELD_TYPE_FLOAT' %} selected{% endif %}>Flottant</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_INTEGER" in active_list %}<option value='FIELD_TYPE_INTEGER'{% if value == 'FIELD_TYPE_INTEGER' %} selected{% endif %}>Nombre</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_PERCENT" in active_list %}<option value='FIELD_TYPE_PERCENT'{% if value == 'FIELD_TYPE_PERCENT' %} selected{% endif %}>Pourcentage</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_TEXT" in active_list %}<option value='FIELD_TYPE_TEXT'{% if value == 'FIELD_TYPE_TEXT' %} selected{% endif %}>Texte</option>{% endif %}

	{% if not active_list or "FIELD_TYPE_DATETIME" in active_list %}<option value='FIELD_TYPE_DATETIME'{% if value == 'FIELD_TYPE_DATETIME' %} selected{% endif %}>Horodatage</option>{% endif %}

</select>