<select class="form-control">

	{% if not active_list or "FIELD_ASSIGNMENT_LIMITED" in active_list %}<option value='FIELD_ASSIGNMENT_LIMITED'{% if value == 'FIELD_ASSIGNMENT_LIMITED' %} selected{% endif %}>Plusieurs instances par élément (limitées)</option>{% endif %}

	{% if not active_list or "FIELD_ASSIGNMENT_MULTIPLE" in active_list %}<option value='FIELD_ASSIGNMENT_MULTIPLE'{% if value == 'FIELD_ASSIGNMENT_MULTIPLE' %} selected{% endif %}>Plusieurs instances par élément</option>{% endif %}

	{% if not active_list or "FIELD_ASSIGNMENT_SINGLE" in active_list %}<option value='FIELD_ASSIGNMENT_SINGLE'{% if value == 'FIELD_ASSIGNMENT_SINGLE' %} selected{% endif %}>Une instance par élément</option>{% endif %}

</select>