<select class="form-control">

	<option value='FREQ_ANNUALLY'>Annuel</option>

	<option value='FREQ_DAILY'>Quotidien</option>

	<option value='FREQ_EVERY_2_YEARS'>Tous les 2 ans</option>

	<option value='FREQ_EVERY_3_YEARS'>Tous les 3 ans</option>

	<option value='FREQ_MONTHLY'>Mensuel</option>

	<option value='FREQ_QUARTERLY'>Trimestriel</option>

	<option value='FREQ_SEMESTERLY'>Semestriel</option>

	<option value='FREQ_WEEKLY'>Hebdomadaire</option>

</select>