<select class="form-control">

	<option value='LAYOUT_OBJECT_CUSTOM_TEMPLATE'>Canevas personnalisé</option>

	<option value='LAYOUT_OBJECT_CUSTOM_HISTORY'>Historique personnalisé</option>

	<option value='LAYOUT_OBJECT_CUSTOM_STANDARD'>Champs simples personnalisés</option>

	<option value='LAYOUT_DISTRIBUTION_CHART'>Graphe de distribution</option>

	<option value='LAYOUT_HISTORY_CHART'>Graphe historique</option>

	<option value='LAYOUT_HISTORICAL_DISTRIBUTION_CHART'>Graphe historique de distribution</option>

	<option value='LAYOUT_OBJECT_TYPE_LIST'>Liste</option>

	<option value='LAYOUT_OBJECT_TYPE_SINGLES'>Champs simples</option>

</select>