<select class="form-control">

	{% if not active_list or "NUM_TYPE_AUM" in active_list %}<option value='NUM_TYPE_AUM'{% if value == 'NUM_TYPE_AUM' %} selected{% endif %}>MSG</option>{% endif %}

	{% if not active_list or "NUM_TYPE_CUR" in active_list %}<option value='NUM_TYPE_CUR'{% if value == 'NUM_TYPE_CUR' %} selected{% endif %}>DEVISE</option>{% endif %}

	{% if not active_list or "NUM_TYPE_DUR" in active_list %}<option value='NUM_TYPE_DUR'{% if value == 'NUM_TYPE_DUR' %} selected{% endif %}>TERME</option>{% endif %}

	{% if not active_list or "NUM_TYPE_NAV" in active_list %}<option value='NUM_TYPE_NAV'{% if value == 'NUM_TYPE_NAV' %} selected{% endif %}>VNI</option>{% endif %}

	{% if not active_list or "NUM_TYPE_PERF" in active_list %}<option value='NUM_TYPE_PERF'{% if value == 'NUM_TYPE_PERF' %} selected{% endif %}>PERF</option>{% endif %}

	{% if not active_list or "NUM_TYPE_YIELD" in active_list %}<option value='NUM_TYPE_YIELD'{% if value == 'NUM_TYPE_YIELD' %} selected{% endif %}>RENDEMENT</option>{% endif %}

</select>