
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="on-boarding_date">On-boarding date</label>
			<input name="on-boarding_date" type="text" class="form-control no-enter" id="on-boarding_date" placeholder="Enter a on-boarding date" value=""/>
		</div>
		<script>
			
				$("#on-boarding_date").datepicker({ dateFormat: "yy-mm-dd" });
			
		</script>
	
		<div class="form-group">
			<label for="current_aum">Current AUM</label>
			<input name="current_aum" type="text" class="form-control no-enter" id="current_aum" placeholder="Enter a current aum" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="invoice_sent">Invoice sent</label>
			<input name="invoice_sent" type="text" class="form-control no-enter" id="invoice_sent" placeholder="Enter a invoice sent" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="last_update_date">Last update date</label>
			<input name="last_update_date" type="text" class="form-control no-enter" id="last_update_date" placeholder="Enter a last update date" value=""/>
		</div>
		<script>
			
				$("#last_update_date").datepicker({ dateFormat: "yy-mm-dd" });
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the On-boarding flags and save it">Continue</button>
	</div>
</form>