
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="last_check">Last check</label>
			<input name="last_check" type="text" class="form-control no-enter" id="last_check" placeholder="Enter a last check" value=""/>
		</div>
		<script>
			
				$("#last_check").datepicker({ dateFormat: "yy-mm-dd" });
			
		</script>
	
		<div class="form-group">
			<label for="prospectus">Prospectus</label>
			<input name="prospectus" type="text" class="form-control no-enter" id="prospectus" placeholder="Enter a prospectus" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="factsheet">Factsheet</label>
			<input name="factsheet" type="text" class="form-control no-enter" id="factsheet" placeholder="Enter a factsheet" value=""/>
		</div>
		<script>
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the On-boarding flags and save it">Continue</button>
	</div>
</form>