
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="documents_are_up-to-date">Documents are up-to-date</label>
			<input name="documents_are_up-to-date" type="text" class="form-control no-enter" id="documents_are_up-to-date" placeholder="Enter a documents are up-to-date" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="invoice_sent">Invoice sent</label>
			<input name="invoice_sent" type="text" class="form-control no-enter" id="invoice_sent" placeholder="Enter a invoice sent" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="compliance_officer_approval">Compliance officer approval</label>
			<input name="compliance_officer_approval" type="text" class="form-control no-enter" id="compliance_officer_approval" placeholder="Enter a compliance officer approval" value=""/>
		</div>
		<script>
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the On-boarding flags and save it">Continue</button>
	</div>
</form>