
							
							
							
							<div class="form-group">
								<label for="closed_date">Closing date</label>
								
								<input name="closed_date" type="text" class="form-control date-form-field" id="closed_date" placeholder="Enter a closing date" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="status">Status</label>
								
									<select id="status" name="status" class="form-control">
									<option value='STATUS_ACTIVE' >Active</option><option value='STATUS_CLOSED' >Closed</option><option value='STATUS_CLOSING' >Closing</option><option value='STATUS_TO_BE_VALIDATED' >To be validated</option>
									</select>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="first_name">First name</label>
								
								<input name="first_name" type="text" class="form-control" id="first_name" placeholder="Enter the first name" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="last_name">Last name</label>
								
								<input name="last_name" type="text" class="form-control" id="last_name" placeholder="Enter the name" value=""/>
								
							</div>
							
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label for="short_name">Alias</label>
								
								<input name="short_name" type="text" class="form-control" id="short_name" placeholder="Enter an alias" value=""/>
								
							</div>
							
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label for="inception_date">Inception date</label>
								
								<input name="inception_date" type="text" class="form-control date-form-field" id="inception_date" placeholder="Enter the inception date" value=""/>
								
							</div>
							
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label for="short_description">Summary</label>
								
								<input name="short_description" type="text" class="form-control" id="short_description" placeholder="Enter a summary" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="birth_date">Birth date</label>
								
								<input name="birth_date" type="text" class="form-control date-form-field" id="birth_date" placeholder="Enter the birth date" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="type">Type</label>
								
									<select id="type" name="type" class="form-control">
									<option value='CONT_COMPANY' >Company</option><option value='CONT_MAIL_CAMPAIGN' >Marketing Mailing Campaign</option><option value='CONT_PERSON' >Person</option><option value='CONT_UNIVERSE' >Universe</option>
									</select>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="id">Identifier</label>
								
								<input name="id" type="text" class="form-control" id="id" placeholder="Enter an identifier" value=""/>
								
							</div>
							
							
							
							
							
							<div class="form-group">
								<label for="name">Name</label>
								
								<input name="name" type="text" class="form-control" id="name" placeholder="Enter a name" value=""/>
								
							</div>
							
							
							