<select class="form-control">

	<option value='PHONE_LAND_CONTACT'>Contact Landline</option>

	<option value='PHONE_MOB_CONTACT'>Numéro mobile de contact</option>

	<option value='PHONE_FAX_HONE'>Fax privé</option>

	<option value='PHONE_LAND_PERSONAL'>Ligne fixe privée</option>

	<option value='PHONE_MOB_PERSONAL'>Numéro mobile privé</option>

	<option value='PHONE_FAX_WORK'>Fax professionnel</option>

	<option value='PHONE_LAND_WORK'>Ligne fixe professionnelle</option>

	<option value='PHONE_MOB_WORK'>Numéro mobile professionnel</option>

</select>