<select class="form-control">

	<option value='NUM_TYPE_PF_BMV'>Beginning Market Value</option>

	<option value='NUM_TYPE_PF_FLOWS'>Cashflows of period</option>

	<option value='NUM_TYPE_PF_EMV'>Ending Market Value</option>

	<option value='NUM_TYPE_PF_IRR'>Internal Rate of Return</option>

	<option value='NUM_TYPE_PF_MDIETZ'>Modified Dietz</option>

	<option value='NUM_TYPE_PF_MWR'>Money Weighted Return</option>

	<option value='NUM_TYPE_PF_TWR'>Time Weighted Return</option>

</select>