<select class="form-control">

	<option value='NUM_TYPE_PF_BMV'>Valeur de marché au départ</option>

	<option value='NUM_TYPE_PF_FLOWS'>Flux monétaire sur la période</option>

	<option value='NUM_TYPE_PF_EMV'>Valeur de marché à l&#39;arrivée</option>

	<option value='NUM_TYPE_PF_IRR'>Rendement interne</option>

	<option value='NUM_TYPE_PF_MDIETZ'>Modified Dietz</option>

	<option value='NUM_TYPE_PF_MWR'>Rendement pondéré par la masse sous gestion</option>

	<option value='NUM_TYPE_PF_TWR'>Rendement pondéré par la durée</option>

</select>