
<form id="object_form" role="form" action="/object_instanciante.html" method="POST">
	
		<div class="form-group">
			<label for="fund_manager_on-boarding">Fund manager on-boarding</label>
			<input name="fund_manager_on-boarding" type="text" class="form-control no-enter" id="fund_manager_on-boarding" placeholder="Enter a fund manager on-boarding" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="services_only">Services only</label>
			<input name="services_only" type="text" class="form-control no-enter" id="services_only" placeholder="Enter a services only" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="external_asset_manager">External asset manager</label>
			<input name="external_asset_manager" type="text" class="form-control no-enter" id="external_asset_manager" placeholder="Enter a external asset manager" value=""/>
		</div>
		<script>
			
		</script>
	
		<div class="form-group">
			<label for="estimated_aum">Estimated AUM</label>
			<input name="estimated_aum" type="text" class="form-control no-enter" id="estimated_aum" placeholder="Enter a estimated aum" value=""/>
		</div>
		<script>
			
		</script>
	
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Create the Prospection flags and save it">Continue</button>
	</div>
</form>