<select class="form-control">

	{% if not active_list or "SCR_BANK" in active_list %}<option value='SCR_BANK'{% if value == 'SCR_BANK' %} selected{% endif %}>Banque</option>{% endif %}

	{% if not active_list or "SCR_CUSTODIAN" in active_list %}<option value='SCR_CUSTODIAN'{% if value == 'SCR_CUSTODIAN' %} selected{% endif %}>Banque dépositaire</option>{% endif %}

	{% if not active_list or "SCR_DP" in active_list %}<option value='SCR_DP'{% if value == 'SCR_DP' %} selected{% endif %}>Fournisseur de données</option>{% endif %}

	{% if not active_list or "SCR_ISSUER" in active_list %}<option value='SCR_ISSUER'{% if value == 'SCR_ISSUER' %} selected{% endif %}>Emetteur</option>{% endif %}

	{% if not active_list or "SCR_MC" in active_list %}<option value='SCR_MC'{% if value == 'SCR_MC' %} selected{% endif %}>Compagnie de gestion</option>{% endif %}

	{% if not active_list or "SCR_RC" in active_list %}<option value='SCR_RC'{% if value == 'SCR_RC' %} selected{% endif %}>Compagnie de régulation</option>{% endif %}

</select>