{% extends base_template %}
{% block title %}Results List Setup{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
				containerChanged();
{% endblock %}
{% block headeroptions %}
<script>

	var allItems = {{global|safe}};
	var initialLoad = true;

	function onCallError(e) {
		alert(e.status);
	}

	function onForeignClick(fieldName) {
		$(".sub-" + fieldName).toggleClass("hidden");
	}

	function containerFieldsSaved(e) {

	}

	function saveListSetup() {
		var containerSetup = {}
		containerSetup.type =  $("#containerType").val();
		containerSetup.data = new Array();
		$.each($("#selectedfieldsList").children(), function(index, value) {
			containerSetup.data.push($(value).text());
		});
		var updateForm = new FormData();
		updateForm.append('container_setup', JSON.stringify(containerSetup));
		updateForm.append('item',urlParams['item']);
		updateForm.append('type',urlParams['type']);
		updateForm.append('render_name','results');
		$.ajax({
			url: '/container/setup_save.html',
			type: 'POST',
			data: updateForm,
			processData: false,
			contentType: false,
			success: containerFieldsSaved,
			error: onCallError
		});
	}

	function onFieldClick(fieldName) {
		if (fieldName.indexOf(".")!==-1) {
			var mainField = fieldName.substring(0, fieldName.indexOf("."));
			var subField = fieldName.substring(fieldName.indexOf(".") + 1);

			$(".main-" + mainField + ".multiple-master").removeClass("list-group-item-warning");

			if ($(".main-" + subField + ".sub-" + mainField + ".list-group-item-info").length===1) {
				$("#selectedfieldsList").append('<a class="list-group-item select-' + mainField + '-' + subField + '" onclick="onFieldClick(\'' + fieldName + '\')">' + fieldName + '</a>');
			} else {
				$(".select-" + mainField + "-" + subField).remove();
			}
			$(".main-" + subField + ".sub-" + mainField).toggleClass("list-group-item-success");
			$(".main-" + subField + ".sub-" + mainField).toggleClass("list-group-item-info");
			if ($(".sub-" + mainField + ".list-group-item-success").length>0) {
				$(".main-" + mainField + ".multiple-master").addClass("list-group-item-warning");
			}
		} else {
			if ($(".main-" + fieldName + ":not(.multiple-master)").hasClass("list-group-item-success")) {
				$(".select-" + fieldName).remove();
			} else {
				$("#selectedfieldsList").append('<a class="list-group-item select-' + fieldName + '" onclick="onFieldClick(\'' + fieldName + '\')">' + fieldName + '</a>');
			}
			$(".main-" + fieldName + ":not(.multiple-slave)").toggleClass("list-group-item-success");
		}
		if (!initialLoad) {
			saveListSetup();
		}
	}

	function fieldsLoaded(e) {
		var currentList = [];
		var preSelection = [];

		$("#selectedfieldsList").empty();

		if (allItems.hasOwnProperty($("#containerType").val())) {
			preSelection = allItems[$("#containerType").val()];
		}

		$("#fieldsList").empty();

		$.each(e.static_fields, function(index, value) {
			currentList.push(index);
		});
		currentList.sort();
		$.each(currentList, function(index, value) {
			if (e.static_fields[value].type.lastIndexOf("FIELD_TYPE_", 0)===0) {
				$("#fieldsList").append('<a class="list-group-item main-' + value + '" onclick="onFieldClick(\'' + value + '\')">' + value + '</a>');
			} else {
				$("#fieldsList").append('<a class="list-group-item multiple-master main-' + value + '" onclick="onForeignClick(\'' + value + '\')">' + value + '</a>');
				var subCurrentList = [];
				$.each(e.static_fields[value].fields, function(index, value) {
					subCurrentList.push(index);
				});
				subCurrentList.sort();
				$.each(subCurrentList, function (subIndex, subValue) {
					$("#fieldsList").append('<a class="list-group-item list-group-item-info multiple-slave hidden main-' + subValue + ' sub-' + value + '" onclick="onFieldClick(\'' + value + '.' + subValue + '\')">' + subValue + '</a>');
				});
			}
		});
		$.each(preSelection, function(index, value) {
			var selected;
			if (value.indexOf(".")!==-1) {
				var mainField = value.substring(0, value.indexOf("."));
				var subField = value.substring(value.indexOf(".") + 1);
				$(".main-" + subField + ".sub-" + mainField).click();
			} else {
				$(".main-" + value + ":not(.multiple-slave)").click();
			}
		});
		initialLoad = false;
	}

	function containerChanged() {
		initialLoad = true;
		var fieldsForm = new FormData();
		fieldsForm.append('container_type', $("#containerType").val());
		$.ajax({
			url: '/container/fields_get.html',
			type: 'POST',
			data: fieldsForm,
			processData: false,
			contentType: false,
			success: fieldsLoaded,
			error: onCallError
		});
	}
</script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{% blocktrans %}Lists and results layout definition{% endblocktrans %}</h1>
	  			<p class="lead">Define the columns layout for all results or lists of the selected item.<br/>
			</div>
		</div>
		<div class="row">
			<select class="form-control no-enter" id="containerType" name="containerType" onchange="containerChanged()">
				{% with value='' %}
					{% include selection_template %}
				{% endwith %}
			</select>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-3">
				<h4>Available fields</h4>
			</div>
			<div class="col-lg-3 col-lg-offset-4">
				<h4>Selected fields</h4>
			</div>
		</div>
		<div class="row">
			<b>
				<div id="fieldsList" class="list-group col-lg-offset-1 col-lg-3">
				</div>
				<div id="selectedfieldsList" class="list-group col-lg-3 col-lg-offset-4">
				</div>
			</b>
		</div>
{% endblock %}