{% extends "finale_base.html" %}
{% block title %}Financial Lightweight Editor - Setup{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
				containerChanged();
				objectTypeChanged();
{% endblock %}
{% block headeroptions %}
<script>
	var allItems = {{global|safe}};
	var currentRow = -1;
	var allValues = [];

	function onCallError(e) {
		alert(e.status);
	}

	function containerDefinitionSaved(e) {

	}


	function saveDefinitions() {
		var updateForm = new FormData();
		updateForm.append('container', $("#container").val());
		updateForm.append('definitions', JSON.stringify(allValues));
		$.ajax({
			url: '/container_definition_save.html',
			type: 'POST',
			data: updateForm,
			processData: false,
			contentType: false,
			success: containerDefinitionSaved,
			error: onCallError
		});
	}

	function containerChanged() {
		var currentRow = -1;
		var container = $("#container").val();
		$("#associatedObjectsTable").empty();
		allValues = [];
		$.each(allItems[container], addObjectDefinition);
	}

	function reindexDefinitionEntries() {
		$("#associatedObjectsTable > tbody  > tr").each(function(index, value) {
			var removeButton = $(value).find('.remove-btn');
			var typeSelect = $(value).find("select[id^='instanceTypeId_']");
			var repeatField = $(value).find("input[id^='maxRepeat_']")

			repeatField.attr('id','maxRepeat_' + index);
			repeatField.attr('onblur','instanceCountChange(' + index + ')');
			repeatField.attr('onchange','instanceCountChange(' + index + ')');

			typeSelect.attr('id','fieldSelectTypeId_' + index);
			typeSelect.attr('name','fieldSelectTypeId_' + index);
			typeSelect.attr('onchange','fieldTypeChanged(' + index + ')');

			removeButton.attr('onclick','removeDefinitionEntry(' + index + ')');
		});
	}

	function instanceCountChange(rowIndex) {
		allValues[rowIndex].repeat = $("#maxRepeat_" + rowIndex).val();
	}

	function instanceTypeChanged(rowIndex) {
		var instanceType = $("#instanceTypeId_" + rowIndex).val();
		if (instanceType == 'FIELD_ASSIGNMENT_LIMITED') {
			$("#maxRepeat_" + rowIndex).removeAttr("disabled");
			if ($("#maxRepeat_" + rowIndex).val()=='0') {
				$("#maxRepeat_" + rowIndex).val(1);
			}
		} else {
			$("#maxRepeat_" + rowIndex).attr("disabled", true);
			$("#maxRepeat_" + rowIndex).val(0);
		}
		allValues[rowIndex].instanceType = instanceType;
		allValues[rowIndex].repeat = $("#maxRepeat_" + rowIndex).val();
	}

	function removeDefinitionEntry(rowIndex) {
		currentRow = currentRow - 1;
		$('#associatedObjectsTable tr:nth-child(' + (rowIndex+1) + ')').remove();
		allValues.splice(rowIndex, 1);
		reindexDefinitionEntries();
	}

	function objectTypeChanged() {
		var objectType = $("#objectType").val();
		$("#objectDefinition").empty();
		$("#objectDefinition").load("/static/templates/" + objectType + "_en.html");
	}

	function addObjectDefinition(index, value) {
		currentRow = index;
		$("#associatedObjectsTable").append('<tr><td><span>' + (value?value.typeLabel:"") + '</span></td><td><span>' + (value?value.name:"") + '</span></td><td id="instanceType_' + index + '"></td><td><input type="text" class="form-control" id="maxRepeat_' + index + '" value="' + (value?value.repeat:"") + '" onblur="instanceCountChange(' + index + ')" onchange="instanceCountChange(' + index + ')"/></td><td><button type="button" class="btn btn-default btn-sm remove-btn" onclick="removeDefinitionEntry(' + index + ')"><span class="glyphicon glyphicon-remove"></span></button></td></tr>');
		$("#instanceType_" + index).load("/static/templates/field_assignment_select_en.html", function() {
			if (value) {
				$("#instanceType_" + index + " > select").val(value.instanceType);
			}
			$("#instanceType_" + index + " > select").attr('id','instanceTypeId_' + index);
			$("#instanceType_" + index + " > select").attr('name','instanceTypeId_' + index);
			$("#instanceType_" + index + " > select").attr('onchange','instanceTypeChanged(' + index + ')');
			instanceTypeChanged(index);
		});
		allValues.push(value);
	}
</script>

{% endblock %}
	</head>
	<body>
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">Custom objects assignment</h1>
	  			<p class="lead">Define the custom objects associated to containers<br/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<select class='form-control no-enter' id='container' name='container' onchange="containerChanged()">
					{% with value='' %}
						{% include selection_template %}
					{% endwith %}
				</select>
			</div>
			<button class="btn btn-default btn-sm col-lg-1 save-btn" onclick="saveDefinitions()">Save</button>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<form id="define_form" role="form" method="POST">
				<table id="associatedObjectsTable" class="table">
				</table>
			</form>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-lg-3">
				<select class='form-control no-enter' id='objectType' name='objectType' onchange="objectTypeChanged()">
					{% with value='' %}
						{% include 'statics/object_type_en.html' %}
					{% endwith %}
				</select>
			</div>
			<div class="col-lg-3">
				<select class='form-control col-lg-3 no-enter' id='objectDefinition' name='objectDefinition' onchange="">
				</select>
			</div>
			<button class="btn btn-default btn-sm col-lg-1 add-btn" onclick='addObjectDefinition(currentRow + 1, {"name":$("#objectDefinition").val(), "type":$("#objectType").val(), "typeLabel":$("#objectType option:selected").text(), "repeat":0, "instanceType":"FIELD_ASSIGNMENT_SINGLE"})'>Add</button>
		</div>
{% endblock %}