{% load container_tags %}
{% load i18n %}
<div class="row"><div class="col-lg-10"><h4>{{title|get_translated_text:profile.language_code}}</h4></div><button type="button" class="btn btn-default text-center" aria-label="Edit information" data-toggle="modal" data-target="#modal_define_{{index}}" onclick="sendItemForEdition({{index}}, null, '{{container_field}}')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></div>
<div class="row">&nbsp;</div>
<table class="table col-lg-11">
	<thead>
		<tr>
			{% for field in fields %}
			<th>{{field|get_translated_text:profile.language_code}}</th>
			{% endfor %}
			<th/>
		</tr>
	</thead>
	<tbody>
	{% for entry in data.all %}
		<tr>
			{% for field in fields %}<td>{% if forloop.first %}<a href="{% if entry|is_container %}/container/get.html?container_id={{entry.id}}&container_type={{entry.type.identifier}}{% else %}/container/{{container_field}}.html?container_id={{container_id}}&container_type={{container_type}}&{{container_field}}_id={{entry.id}}{% endif %}">{% endif %}{{entry|get_field_value:field|try_translated_text:profile.language_code}}{% if forloop.first %}</a>{% endif %}</td>{% endfor %}
			<td>
				<button type="button" class="btn btn-default text-center" aria-label="{% blocktrans %} Remove this entry {% endblocktrans %}" onclick='deleteItem({{entry|get_field_value:'id'}},"{{container_field}}")'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				{% if not entry|is_container %}
				<button type="button" class="btn btn-default text-center" aria-label="{% blocktrans %}Edit this entry{% endblocktrans %}" data-toggle="modal" data-target="#modal_define_{{index}}" onclick="sendItemForEdition({{index}}, {{entry|get_as_json_string}}, '{{container_field}}')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>