
{% load container_tags %}
{% load socialaccount %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}My Customers{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/statics/themes/redmond/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
		<link href="/statics/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/statics/css/gammasimos.css" rel="stylesheet" type="text/css"/>
		<link href="/statics/css/sequoia.css" rel="stylesheet" type="text/css"/>
		<link href="/statics/jquery.gridster.min.css" rel="stylesheet" type="text/css"/>
		<link href="/statics/wysiwyg/editor.css" rel="stylesheet" type="text/css"/>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="/statics/jquery-2.1.0.min.js" type="text/javascript"></script>
		<script src="/statics/jquery-ui.js" type="text/javascript"></script>
		<script src="/statics/jquery.gridster.min.js" type="text/javascript"></script>
		<script src="/statics/bootstrap/js/bootstrap.min.js"></script>
		<script src="/statics/amcharts/amcharts.js" type="text/javascript"></script>
		<script src="/statics/amcharts/serial.js" type="text/javascript"></script>
		<script src="/statics/amcharts/themes/light.js" type="text/javascript"></script>
		<script src="/statics/date.js" type="text/javascript"></script>
		<script src="/statics/gammasimos.js"></script>
		<script src="/statics/wysiwyg/editor.js"></script>
		<script>
			var waitCount = 0;

			function taskFinished(e) {
				if (e.result) {
					$("#backgroundProgress").addClass("invisible");
					location.reload();
				} else {
					taskFailed(e);
				}
			}

			function taskFailed(e) {
				$("#backgroundProgress").addClass("invisible");
				alert("Task failed with message: " + e.message);
			}

			function controlLoading() {
				waitCount = waitCount - 1;
				if (waitCount===0) {
					$("#backgroundProgress").addClass("invisible");
					$("#generalProgressBar").removeClass("progress-bar-info");
					$("#generalProgressBar").addClass("progress-bar-danger");
					$("#generalProgressBar").text("Task is running, please wait!");
				}
			}

			function initializeLoading(waitFor) {
				waitCount = waitFor;
				$("#backgroundProgress").addClass("invisible");
				$("#generalProgressBar").text("Loading, please wait!");
				$("#generalProgressBar").removeClass("progress-bar-danger");
				$("#generalProgressBar").addClass("progress-bar-info");
				$("#backgroundProgress").removeClass("invisible");
			}

			

			function proceedFormAjax(link, data, callType) {
				$("#backgroundProgress").removeClass("invisible");
				$.ajax({
					url: link,
					type: callType,
					data: data,
					processData: false,
					contentType: false,
					success: taskFinished,
					error: taskFailed
				});
				return false;
			}

			function proceedPageAjax(link, data, callType) {
				$("#backgroundProgress").removeClass("invisible");
				$.ajax({
					url: link,
					type: callType,
					data: JSON.stringify(data),
					processData: false,
					contentType: false,
					success: taskFinished,
					error: taskFailed
				});
				return false;
			}

			function importExternalData(providerName, dataType, grouped) {
				var importForm = new FormData();
				$("#backgroundProgress").removeClass("invisible");
				importForm.append('provider', providerName);
				importForm.append('data_type', dataType);
				if (grouped) {
					importForm.append('grouped','')
				}
				$.ajax({
					url: '/external_import.html',
					type: 'POST',
					data: importForm,
					processData: false,
					contentType: false,
					success: taskFinished,
					error: taskFailed
				});
			}

			function displayDynamicModal(modal_url, url_arguments) {

				$("#dynamic_modal_content").empty();
				$("#dynamic_modal_content").load(modal_url + (url_arguments?"?" + url_arguments:""), function() {console.log("LOADED");$("#dynamic_modal").modal({"show": true});});
			}

			function confirmDynamicModal(event) {
				event.preventDefault();
				modal_form = document.getElementById('dynamic_modal_form');
				$("#dynamic_modal").modal({"show": false});
				var asArray = $(modal_form).serializeArray();
				var dynamicData = new FormData();
				for (var index = 0; index<asArray.length;index++) {
					dynamicData.append(String(asArray[index].name), String(asArray[index].value));
				}
				proceedFormAjax($(modal_form).attr("action"), dynamicData, 'POST');
				return true;
			}

			function setWorkAs(third_id) {
				var workAsForm = new FormData();
				workAsForm.append('third_id', third_id);
				$.ajax({
					url: '/container/user/set_work_as.html',
					type: 'POST',
					data: workAsForm,
					processData: false,
					contentType: false,
					success: taskFinished,
					error: taskFailed
				});
			}

		</script>
		<script>
			$(document).ready(function () {
		     	csrftoken = getCookie('csrftoken');
				$(".no-enter").keydown( function(e) {
					if (e.keyCode == 13) {
						e.preventDefault();
					}
				});

				$(".nav-tabs").tab();

				$(".date-form-field").datepicker({ dateFormat: "yy-mm-dd" });

				$(".with-autocomplete").each(function(index, value){
					value = $(value);
					value.autocomplete({
						source: function(request, response) {
							$.ajax({
								url: value.attr("datasource") + "&term=" + request.term,
								type: 'GET',
								dataType: 'json',
								processData: false,
								contentType: false,
								success: function(data) {
									response(
										$.map(data.result, function(item) {
											console.log(item);
											return {
												id: item.id,
												label: item.name,
												value: item.name,
											};
										})
									);
								},
								error: taskFailed
							});
						},
						minLength: 2,
					});
				});

		     	{% block readyoptions %}
		     	{% endblock %}
			});
			
		</script>

		{% block headeroptions %}
		{% endblock %}
	</head>
	<body>
		{% language profile.language_code %}
		<nav class="navbar navbar-default navbar-static-top clearfix" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gso-nav-bar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">MyCustomers</a>
				</div>
				<div class="collapse navbar-collapse" id="gso-nav-bar">
					{% if request.user.is_authenticated %}
					<ul class="nav navbar-nav">
						
							
							
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Univers <b class="caret"></b></a>
							<ul class="dropdown-menu">
							
							
							<li><a href="/container/lists.html?item=CONT_UNIVERSE">Explorer</a></li>
	
							
						
							
							</ul></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Eléments <b class="caret"></b></a>
							<ul class="dropdown-menu">
							
							
							<li role="presentation" class="dropdown-header">Compagnies</li><li><a href="/container/lists.html?item=CONT_COMPANY">Explorer</a></li>
	
							
						
							
							
							
							<li role="presentation" class="dropdown-header">Personnes</li><li><a href="/container/lists.html?item=CONT_PERSON">Explorer</a></li>
	
							
						
							
							</ul></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <b class="caret"></b></a>
							<ul class="dropdown-menu">
							
							
							<li role="presentation" class="dropdown-header">Présentation</li><li><a href="/container/setup.html?item=container_type&type=creations">Créations d&#39;éléments</a></li>
	
							
						
							
							
							
							<li><a href="/container/setup.html?item=container_type&type=details">Détails des éléments</a></li>
	
							
						
							
							
							
							<li><a href="/container/setup.html?item=container_type&type=lists">Listes d&#39;éléments</a></li>
	
							
						
							
							
							
							<li><a href="/container/setup.html?item=container_type&type=menus">Menus des éléments</a></li>
	
							
						
							
							
							
							<li role="presentation" class="dropdown-header">Données</li><li><a href="/container/setup.html?item=container_type&type=fields">Champs des éléments</a></li>
	
							
						
							
							
							
							<li><a href="/container/setup.html?item=object_type&type=fields">Définition des objets</a></li>
	
							
						
							
							
							
							<li role="presentation" class="dropdown-header">Mon compte</li><li><a href="#" onclick="displayDynamicModal('/container/user/setup.html')">Mes préférences</a></li>
	
							
						
							
							
							
							<li><a href="#" onclick="displayDynamicModal('/container/user/remove.html')">Fermer mon compte</a></li>
	
							
						
							
							
							
							<li role="presentation" class="dropdown-header">Application</li><li><a href="#" onclick="displayDynamicModal('/container/application/setup.html')">Paramètres de l&#39;application</a></li>
	
							
						
							
							
							
							<li><a href="#" onclick="displayDynamicModal('/container/application/reset_nosql.html')">Réinitialiser des données d&#39;intégration</a></li>
	
							
						
							
							
							
							<li><a href="/container/application/setup_users.html">Gérer les utilisateurs</a></li>
	</ul></li>
							
						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if profile.current_work_as.third_name %}{{profile.current_work_as.third_name}}{% else %}{{profile.current_work_as}}{% endif %}{% if profile|get_dict_key:'available_work_places'|length > 1 %} <b class="caret"></b>{% endif %}</a><ul class="dropdown-menu">{% for third in profile|get_dict_key:'available_work_places' %}<li><a href="#" onclick="setWorkAs({{third.third_id}})">{{third.third_name}}</a></li>{% endfor %}</ul></li></li><li>&nbsp;</li>
						<li>
							<a href="/accounts/logout" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Log off">
								<span class="glyphicon glyphicon-off"></span>
							</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="container" style="padding: 0 15px;">
			{% if request.user.is_authenticated %}
				<div class="row">
					<div id="backgroundProgress" class="progress progress-striped active invisible">
						<div id="generalProgressBar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Task is running, please wait!</div>
					</div>
				</div>
				{% block content %}
				{% endblock %}
			{% else %}
				<center><a href="/accounts/login" class="btn btn-primary btn-lg" role="button">Login</a></center>
			{% endif %}
		</div>
		<div class="modal fade" id="dynamic_modal" tabindex="-1" role="dialog" aria-labelledby="dynamic_modal_label" aria-hidden="true">
			<div id="dynamic_modal_content" class="modal-dialog modal-lg">

			</div>
		</div>
		{% endlanguage %}


		{% include 'rendition/container_type/details/modal/add_document.html' %}

	</body>
