{% extends "gso.html" %}
{% block title %}My Customers - Index{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
{% endblock %}
{% block headeroptions %}
{% endblock %}
	</head>
	<body>
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{{ request.user.first_name }} {{ request.user.last_name }}'s universes</h1>
	  			<p class="lead">Manage and explore your universes from here<br/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<table class="table table.striped">
					<tr>
						<th>Name</th>
						<th>Public</th>
						<th>Action</th>
					</tr>
					{% for universe in universes %}
					<tr>
						<td>{{universe.name}}</td>
						<td>{% if universe.public %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
						<td>{% if request.user.id == universe.owner.id %}
							<a href="#modal_delete_{{universe.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Delete universe">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</a>
							<a href="#modal_edit_{{universe.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Edit universe">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							{% endif %}
							<a href="/universe_details.html?universe_id={{universe.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Explore universe">
								<span class="glyphicon glyphicon-list-alt"></span>
							</a>
							<a href="/universe_duplicate.html?universe_id={{universe.id}}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Duplicate universe">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</a>
							<a href="/universe_report.html?universe_id={{universe.id}}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="Generate report on universe">
								<span class="glyphicon glyphicon-file"></span>
							</a>
							<a href="/bloomberg_update.html?universe_id={{universe.id}}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Update the universe with Bloomberg historical information">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
							<a href="/universe_backtest_wizard.html?universe_id={{universe.id}}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Launch the backtesting wizard for this universe">
								<span class="glyphicon glyphicon-tasks"></span>
							</a>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-export"/>&nbsp;<span class="caret"/></button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation" class="dropdown-header">Securities</li>
									{% for format in export_formats %}
									<li><a href="/universe_export.html?universe_id={{universe.id}}&export_to={{format.identifier}}&export_type=securities">{{format.name}}</a></li>
									{% endfor %}
									<li role="presentation" class="dropdown-header">Historical information</li>
									{% for format in export_formats %}
									<li><a href="/universe_export.html?universe_id={{universe.id}}&export_to={{format.identifier}}&export_type=history">{{format.name}}</a></li>
									{% endfor %}
									<li role="presentation" class="dropdown-header">CRM</li>
									<li><a href="/universe_mass_mail.html?universe_id={{universe.id}}">Mass emailing</a></li>
								</ul>
							</div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<a href="#modal_create_universe" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="Create a new universe">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>

		<div class="modal fade" id="modal_create_universe" tabindex="-1" role="dialog" aria-labelledby="modal_create_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_create_label">Create a new universe</h4>
					</div>
					<form id="create_form" role="form" action="/universe_base_edit.html" method="POST">{% csrf_token %}
						<div class="modal-body">
							<div class="form-group">
								<label for="name">Name</label>
								<input name="name" type="text" class="form-control" id="name" placeholder="Enter a name" value=""/>
							</div>
							<div class="form-group">
								<label for="short_name">Short name</label>
								<input name="short_name" type="text" class="form-control" id="short_name" placeholder="Enter an alias" value=""/>
							</div>
							<div class="checkbox">
								<label>
  									<input id="public" name="public" type="checkbox" value="True"/> Public
								</label>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Confirm universe creation and go to content edition">Continue</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		{% for universe in universes %}
			<div class="modal fade" id="modal_delete_{{universe.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_delete_label_{{universe.id}}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="modal_delete_label_{{universe.id}}">Delete universe {{universe.name}}?</h4>
						</div>
						<div class="modal-body">
							Do you really want to delete that universe?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<a href="/universe_delete.html?universe_id={{universe.id}}" class="btn btn-danger" role="button" data-toggle="tooltip" data-placement="bottom" title="Confirm universe deletion">Delete</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modal_edit_{{universe.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_label_{{universe.id}}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="modal_edit_label_{{universe.id}}">Edit universe {{universe.name}}</h4>
						</div>
						<form id="edit_form_{{universe.id}}" role="form" action="/universe_base_edit.html" method="POST">{% csrf_token %}
							<div class="modal-body">
								<input type="hidden" id="universe_id" name="universe_id" value="{{universe.id}}"/>
								<div class="form-group">
									<label for="name">Name</label>
									<input name="name" type="text" class="form-control" id="name" placeholder="Enter a name" value="{{universe.name}}"/>
								</div>
								<div class="form-group">
									<label for="short_name">Short name</label>
									<input name="short_name" type="text" class="form-control" id="short_name" placeholder="Enter an alias" value="{{universe.short_name}}"/>
								</div>
								<div class="checkbox">
    								<label>
      									<input id="public" name="public" type="checkbox" value="True" {% if universe.public %} checked {% endif %}/> Public
    								</label>
  								</div>
  								<div class="form-group">
									<label for="owner">Owner</label>
									<input name="owner" nametype="text" class="form-control" id="owner" placeholder="Should not be modifiable" value="{{universe.owner}}" disabled/>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Confirm universe base information modifications and go to content edition">Continue</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		{% endfor %}
{% endblock %}