{% extends base_template %}
{% load i18n %}
{% block title %}{% blocktrans %}My Customers - Index{% endblocktrans %}{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
{% endblock %}
{% block headeroptions %}
{% endblock %}
	</head>
	<body>
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{% blocktrans with first_name=request.user.first_name last_name=request.user.last_name %}{{first_name}} {{ last_name }}'s universes{% endblocktrans %}</h1>
	  			<p class="lead">{% blocktrans %}Manage and explore your universes from here{% endblocktrans %}<br/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<table class="table table.striped">
					<tr>
						<th>{% blocktrans %}Name{% endblocktrans %}</th>
						<th>{% blocktrans %}Public{% endblocktrans %}</th>
						<th>{% blocktrans %}Actions{% endblocktrans %}</th>
					</tr>
					{% for universe in universes %}
					<tr>
						<td>{{universe.name}}</td>
						<td>{% if universe.public %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
						<td>{% if request.user.id == universe.owner.id %}
							<a href="#modal_delete_{{universe.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="{% blocktrans %}Delete universe{% endblocktrans %}">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</a>
							<a href="#modal_edit_{{universe.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="{% blocktrans %}Edit universe{% endblocktrans %}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							{% endif %}
							<a href="/universe_details.html?universe_id={{universe.id}}" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="{% blocktrans %}Explore universe{% endblocktrans %}">
								<span class="glyphicon glyphicon-list-alt"></span>
							</a>
							<a href="/universe_duplicate.html?universe_id={{universe.id}}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Duplicate universe{% endblocktrans %}">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</a>
							<a href="/universe_report.html?universe_id={{universe.id}}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Generate report on universe{% endblocktrans %}">
								<span class="glyphicon glyphicon-file"></span>
							</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<a href="#modal_create_universe" class="btn btn-default" role="button" data-toggle="modal" data-placement="bottom" title="{% blocktrans %}Create a new universe{% endblocktrans %}">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>

		<div class="modal fade" id="modal_create_universe" tabindex="-1" role="dialog" aria-labelledby="modal_create_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_create_label">{% blocktrans %}Create a new universe{% endblocktrans %}</h4>
					</div>
					<form id="create_form" role="form" action="/container/base_edit.html" method="POST">{% csrf_token %}
						<input type="hidden" id="container_type" name="container_type" value="CONT_UNIVERSE"/>
						<input type="hidden" id="owner" name="owner" value="{{request.user.id}}"/>
						<div class="modal-body">
							<div class="form-group">
								<label for="name">{% blocktrans %}Name{% endblocktrans %}</label>
								<input name="name" type="text" class="form-control" id="name" placeholder="{% blocktrans %}Enter a name{% endblocktrans %}" value=""/>
							</div>
							<div class="form-group">
								<label for="short_name">{% blocktrans %}Short name{% endblocktrans %}</label>
								<input name="short_name" type="text" class="form-control" id="short_name" placeholder="{% blocktrans %}Enter an alias{% endblocktrans %}" value=""/>
							</div>
							<div class="checkbox">
								<label>
  									<input id="public" name="public" type="checkbox" value="True"/> {% blocktrans %}Public{% endblocktrans %}
								</label>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
							<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Confirm universe creation and go to content edition{% endblocktrans %}">{% blocktrans %}Continue{% endblocktrans %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		{% for universe in universes %}
			<div class="modal fade" id="modal_delete_{{universe.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_delete_label_{{universe.id}}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="modal_delete_label_{{universe.id}}">{% blocktrans %}Delete universe {{universe.name}}?{% endblocktrans %}</h4>
						</div>
						<div class="modal-body">
							{% blocktrans %}Do you really want to delete that universe?{% endblocktrans %}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
							<a href="/universe_delete.html?universe_id={{universe.id}}" class="btn btn-danger" role="button" data-toggle="tooltip" data-placement="bottom" title="Confirm universe deletion">{% blocktrans %}Delete{% endblocktrans %}</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modal_edit_{{universe.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_label_{{universe.id}}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="modal_edit_label_{{universe.id}}">{% blocktrans %}Edit universe {{universe.name}}{% endblocktrans %}</h4>
						</div>
						<form id="edit_form_{{universe.id}}" role="form" action="/universe_base_edit.html" method="POST">{% csrf_token %}
							<div class="modal-body">
								<input type="hidden" id="universe_id" name="universe_id" value="{{universe.id}}"/>
								<div class="form-group">
									<label for="name">{% blocktrans %}Name{% endblocktrans %}</label>
									<input name="name" type="text" class="form-control" id="name" placeholder="{% blocktrans %}Enter a name{% endblocktrans %}" value="{{universe.name}}"/>
								</div>
								<div class="form-group">
									<label for="short_name">{% blocktrans %}Short name{% endblocktrans %}</label>
									<input name="short_name" type="text" class="form-control" id="short_name" placeholder="{% blocktrans %}Enter an alias{% endblocktrans %}" value="{{universe.short_name}}"/>
								</div>
								<div class="checkbox">
    								<label>
      									<input id="public" name="public" type="checkbox" value="True" {% if universe.public %} checked {% endif %}/> {% blocktrans %}Public{% endblocktrans %}
    								</label>
  								</div>
  								<div class="form-group">
									<label for="owner">{% blocktrans %}Owner{% endblocktrans %}</label>
									<input name="owner" nametype="text" class="form-control" id="owner" placeholder="{% blocktrans %}Should not be modifiable{% endblocktrans %}" value="{{universe.owner}}" disabled/>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
								<button type="submit" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Confirm universe base information modifications and go to content edition{% endblocktrans %}">{% blocktrans %}Continue{% endblocktrans %}</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		{% endfor %}
{% endblock %}