{% load i18n %}
{% load container_tags %}
{% language profile.language_code %}
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="dynamic_modal_label">{% blocktrans %}Edit your account{% endblocktrans %}</h4>
					</div>
					<form id="dynamic_modal_form" role="form" action="/container/user/save.html" method="POST">{% csrf_token %}
						<div class="modal-body">
							<div class="form-group">
								<label for="login">{% blocktrans %}Login{% endblocktrans %}</label>
								<input name="login" type="text" class="form-control" id="login" placeholder="{% blocktrans %}Enter a login{% endblocktrans %}" value="{{request.user.username}}"/>
							</div>
							<div class="form-group">
								<label for="last_name">{% blocktrans %}Last name{% endblocktrans %}</label>
								<input name="last_name" type="text" class="form-control" id="last_name" placeholder="{% blocktrans %}Enter your last name{% endblocktrans %}" value="{{request.user.last_name}}"/>
							</div>
							<div class="form-group">
								<label for="first_name">{% blocktrans %}First name{% endblocktrans %}</label>
								<input name="first_name" type="text" class="form-control" id="first_name" placeholder="{% blocktrans %}Enter your first name{% endblocktrans %}" value="{{request.user.first_name}}"/>
							</div>
							<div class="form-group">
								<label for="email">{% blocktrans %}Email address{% endblocktrans %}</label>
								<input name="email" type="text" class="form-control" id="email" placeholder="{% blocktrans %}Enter your email address{% endblocktrans %}" value="{{request.user.email}}"/>
							</div>
							<div class="form-group">
								<label for="language">{% blocktrans %}Preferred language{% endblocktrans %}</label>
								<select class='form-control no-enter' id='language' name='language'>
									{% with template='statics/available_language_'|add:profile.language_code|add:'.html' %}
										{% include template with value=profile.language %}
									{% endwith %}
								</select>
							</div>
							<div class="form-group">
								<label for="default_work_place">{% blocktrans %}Preferred work place{% endblocktrans %}</label>
								<select class='form-control no-enter' id='default_work_place' name='default_work_place'>
								{% for third in profile|get_dict_key:'available_work_places' %}<option val="{{third.third_name}}" {% if third.third_name == profile.default_work_place.third_name %}selected="true"{% endif %}>{{third.third_name}}</option>{% empty %}{% if request.user.is_staff %}<option val="administrator">{% blocktrans %}Administrator{% endblocktrans %}</option>{% endif %}{% endfor %}
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="{% blocktrans %}Confirm your modifications{% endblocktrans %}" onclick="confirmDynamicModal(event)">{% blocktrans %}Save{% endblocktrans %}</button>
						</div>
					</form>
				</div>
{% endlanguage %}