{% extends "finale_base.html" %}
{% load universe_tags %}
{% block title %}Financial Lightweight Editor - {{container.name}} - Operations{% endblock %}
{% block readyoptions %}
				fillContent();
{% endblock %}
{% block headeroptions %}
	<script>
		var container = {{container_json|safe}};
		var labels = {{labels|get_as_json_string|safe}};
		var complete_fields = {{complete_fields|get_as_json_string|safe}};
		var positions = {{positions|get_as_json_string|safe}};

		function fillContent() {
			$("#positions").empty();
			var newContent = "<table class='table'>";
			newContent += "<tr><th>Security</th><th>Quantity</th><th>Price</th><th>Price date</th><th>Amount (Security)</th><th>Amount (Portfolio)</th></tr>";
			$.each(positions[$("#positionsDate").val()], function(index, value) {
				console.log(value);
				if (index!='increase' && index!='decrease' && index!='increase_fop' && index!='decrease_fop') {
					newContent += "<tr><td><a href='/container_get.html?container_id=" + value['id'] + "&container_type=" + value['type'] + "'>" + value['name'] + "</a></td><td>" + value['total'].toFixed(2) + "</td><td>" + value['price'].toFixed(2) + "</td><td>" + value['price_date'] + "</td><td>" + (value['price_divisor'] * value['total']).toFixed(2) + "</td><td>" + (value['price_pf_divisor'] * value['total']).toFixed(2) + "</td></tr>";
				}
			});
			if (positions[$("#positionsDate").val()].increase && Object.keys(positions[$("#positionsDate").val()].increase).length>0) {
				newContent += "<tr><td colspan=5>&nbsp;</td></tr>";
				$.each(positions[$("#positionsDate").val()].increase, function(index, value) {
					newContent += "<tr><td>" + index.toUpperCase() + " investment increase</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>" + value.toFixed(2) + "</td></tr>";
				});
			}
			if (positions[$("#positionsDate").val()].decrease && Object.keys(positions[$("#positionsDate").val()].decrease).length>0) {
				newContent += "<tr><td colspan=5>&nbsp;</td></tr>";
				$.each(positions[$("#positionsDate").val()].decrease, function(index, value) {
					newContent += "<tr><td>" + index.toUpperCase() + " investment decrease</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>(" + value.toFixed(2) + ")</td></tr>";
				});
			}
			newContent += "</table>";
			$("#positions").append(newContent);
		}
	</script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{{ container.name }}
					<div class="btn-group">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"/></button>
						<ul class="dropdown-menu" role="menu">
							{% with template_name='statics/'|add:container.type.identifier|add:'_view_menus_en.html' %}
								{% include template_name %}
							{% endwith %}
						</ul>
					</div>
				</h1>
	  			<p class="lead">{% if container.short_description %}{{ container.short_description }}{% else %}No description is available.{% endif %}<br/>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<select class="form-control no-enter" id="positionsDate" name="positionsDate" onchange="fillContent()">
				{% for date in positions_date %}
					<option {% if working_date == date %}selected="selected"{% endif %}>{{date}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="row">&nbsp;</div>
		<div id="positions" class="row">

		</div>
{% endblock %}