{% extends base_template %}
{% load i18n %}
{% block title %}{% blocktrans %}Container Details View Setup{% endblocktrans %}{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
				initGridster();
{% endblock %}
{% block headeroptions %}
<script>
	var allItems = {{global|safe}};
	var currentItem = 0;
	var emptyWidget = "<li id='gridjet_%%index%%'><div class='form-group'><button id='dismiss_%%index%%' class='col-lg-offset-10 col-lg-1' onclick='dismiss(%%index%%)' type='button'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button></div><div class='form-group'><label for='title_%%index%%' class='control-label col-lg-2'>Title</label><div class='col-lg-9'><input name='title_%%index%%' id='title_%%index%%' type='text' class='form-control' placeholder='Input block title here'/></div></div><div class='form-group'><label for='type_%%index%%' class='control-label col-lg-2'>Type</label><div class='col-lg-9'><select id='type_%%index%%' name='type_%%index%%' class='form-control'></select></div></div><div class='form-group' id='content_%%index%%'></div></li>";
	var gridster;

	var allFieldsInformation;
	var allCustomFieldsInformation;
	var allFields;
	var singleFields;
	var multipleFields;

	var callbacks = [];

	var blockData = {};

	function onCallError(e) {
		alert(e.status);
	}

	function containerFieldsSaved(e) {

	}

	function checkClear() {
		currentItem = currentItem - 1;
		if (currentItem==0) {
			initGridster();
		}
	}

	function clearAndLoad() {
		if (gridster) {
			gridster.remove_all_widgets(checkClear);
		}
		if (currentItem==0) {
			initGridster();
		}
	}

	function initGridster() {
		gridster = $(".gridster ul").gridster({
			widget_margins: [10, 10],
			widget_base_dimensions: [340, 370],
			resize: {
				enabled: true,
				max_size: [4, 4],
				min_size: [1, 1]
			}
		}).data('gridster');
		containerChanged();
	}

	function dismiss(toRemove) {
		for(var index=0;index<currentItem;index++) {
			if (index==toRemove) {
				gridster.remove_widget($("#gridjet_" + index));
			} else if (index>toRemove) {
				$("#gridjet_" + index).find('[id]').each(function(index, node) {
					if ($(node).hasAttr('id')) {
						$(node).attr('id', $(node).attr('id').replace(index.toString(), (index-1).toString()));
					}
					if ($(node).hasAttr('name')) {
						$(node).attr('name', $(node).attr('name').replace(index.toString(), (index-1).toString()));
					}
				});
				$("#gridjet_" + index).attr('id', "gridjet_" + (index-1));
			}
		}
		currentItem -= 1;
	}

	function checkLoads(event) {
		var wrkItem = $(this).prop("id");
		var indexPos = wrkItem.lastIndexOf("_");
		var identifier = wrkItem.substring(0, indexPos);
		var index = wrkItem.substr(indexPos + 1);
		var currentInformation = allItems[$("#containerType").val()];
		if (currentInformation.data[index].data.hasOwnProperty("track_" + identifier)) {
			$(this).val(currentInformation.data[index].data["track_" + identifier]);
		} else {
			$(this).val(currentInformation.data[index].data[identifier]);
		}
	}

	function completeSaveData() {
		for (var index=0;index<currentItem;index++) {
			var key = index.toString();
			if (!blockData.hasOwnProperty(key)) {
				blockData[key] = {"title": $("#title_" + key).val(), "type": $("#type_" + key).val(), "data": []};
			} else {
				blockData[key].title = $("#title_" + key).val();
				blockData[key].type = $("#type_" + key).val();
			}
			if (blockData[key].type=="LAYOUT_HISTORY_CHART" || blockData[key].type=="LAYOUT_DISTRIBUTION_CHART" || blockData[key].type=="LAYOUT_HISTORICAL_DISTRIBUTION_CHART") {
				blockData[key].data = {
					"track_type": $("#track_type_" + key).val(), "track_default": $("#track_default_" + key).prop("checked"), "track_frequency": $("#frequency_" + key).val(), "track_datasource":$("#datasource_" + key).val()
				}
			}
			if (blockData[key].type=="LAYOUT_OBJECT_CUSTOM_TEMPLATE") {
				blockData[key].data = { "template": $("#template_" + key).val() };

			}
		}
	}

	function saveLayout() {
		var gridsterLayout = gridster.serialize();
		completeSaveData();
		var toSave = {"layout": gridsterLayout, "data": blockData};
		var containerSetup = {}
		containerSetup.type = $("#containerType").val();
		containerSetup.data = toSave;
		var updateForm = new FormData();
		updateForm.append('container_setup', JSON.stringify(containerSetup));
		updateForm.append('item',urlParams['item']);
		updateForm.append('type',urlParams['type']);
		updateForm.append('render_name','view');
		$.ajax({
			url: '/container/setup_save.html',
			type: 'POST',
			data: updateForm,
			processData: false,
			contentType: false,
			success: containerFieldsSaved,
			error: onCallError
		});
	}

	function trackDefaultChanged(index) {
		$("#frequency_" + index).prop('disabled', $("#track_default_" + index).prop('checked'));
		$("#datasource_" + index).prop('disabled', $("#track_default_" + index).prop('checked'));
	}

	function onForeignClick(index, fieldName) {
		var target = "#fieldsList_" + index + " > ";
		$(target + ".sub-" + fieldName).toggleClass("hidden");
	}

	function onMultipleFieldClick(index, fieldName) {
		var target = "#fieldsList_" + index + " > ";
		var key = index.toString();
		if (!blockData.hasOwnProperty(key)) {
			blockData[key] = {"title": $("#title_" + key).val(), "type": $("#type_" + key).val(), "data": []};
		}
		blockData[key].data = [fieldName];
		$(target + ".list-group-item-success").removeClass("list-group-item-success");
		$(target + ".main-" + fieldName).toggleClass("list-group-item-success");
	}

	function onFieldClick(index, fieldName) {
		var target = "#fieldsList_" + index + " > ";
		var key = index.toString();
		if (!blockData.hasOwnProperty(key)) {
			blockData[key] = {"title": $("#title_" + key).val(), "type": $("#type_" + key).val(), "data": []};
		}

		if (fieldName.indexOf(".")!==-1) {
			var mainField = fieldName.substring(0, fieldName.indexOf("."));
			var subField = fieldName.substring(fieldName.indexOf(".") + 1);
			$(target + ".main-" + mainField + ".multiple-master").removeClass("list-group-item-warning");
			if ($(target + ".main-" + subField + ".sub-" + mainField + ".list-group-item-info").length===1) {
				blockData[key].data.push(fieldName);
			} else {
				blockData[key].data.splice(blockData[key].data.indexOf(fieldName), 1);
			}
			$(target + ".main-" + subField + ".sub-" + mainField).toggleClass("list-group-item-success");
			$(target + ".main-" + subField + ".sub-" + mainField).toggleClass("list-group-item-info");
			if ($(target + ".sub-" + mainField + ".list-group-item-success").length>0) {
				$(target + ".main-" + mainField + ".multiple-master").addClass("list-group-item-warning");
			}
		} else {
			if ($(target + ".main-" + fieldName + ":not(.multiple-master)").hasClass("list-group-item-success")) {
				blockData[key].data.splice(blockData[key].data.indexOf(fieldName), 1);
			} else {
				blockData[key].data.push(fieldName);
			}
			$(target + ".main-" + fieldName + ":not(.multiple-slave)").toggleClass("list-group-item-success");
		}

	}

	function changeType(index, callback) {
		var selectedType = $("#type_" + index).val();
		$("#content_" + index).empty();
		var htmlToAppend = "";
		var callLater = function() {};
		if (selectedType=="LAYOUT_OBJECT_TYPE_SINGLES") {
			htmlToAppend += "<div id='fieldsList_" + index + "' class='list-group col-lg-offset-1 col-lg-10 pre-scrollable' style='height: 195px;'>";
			$.each(singleFields, function(valueIndex, value) {
				if (allFieldsInformation[value].type.lastIndexOf("FIELD_TYPE_", 0)===0) {
					htmlToAppend += '<a class="list-group-item main-' + value + '" onclick="onFieldClick(' + index + ',\'' + value + '\')">' + value + '</a>';
				} else {
					htmlToAppend += '<a class="list-group-item multiple-master main-' + value + '" onclick="onForeignClick(' + index + ',\'' + value + '\')">' + value + '</a>';

					var subCurrentList = [];
					$.each(allFieldsInformation[value].fields, function(subIndex, subValue) {
						subCurrentList.push(subIndex);
					});
					subCurrentList.sort();
					$.each(subCurrentList, function (subIndex, subValue) {
						htmlToAppend += '<a class="list-group-item list-group-item-info multiple-slave hidden main-' + subValue + ' sub-' + value + '" onclick="onFieldClick(' + index + ',\'' + value + '.' + subValue + '\')">' + subValue + '</a>';
					});

				}
			});
			htmlToAppend += "</div>";
		} else if (selectedType=="LAYOUT_OBJECT_TYPE_LIST") {
			htmlToAppend += "<div id='fieldsList_" + index + "' class='list-group col-lg-offset-1 col-lg-10 pre-scrollable' style='height: 195px;'>";
			$.each(multipleFields, function(valueIndex, value) {
				htmlToAppend += '<a class="list-group-item main-' + value + '" onclick="onMultipleFieldClick(' + index + ',\'' + value + '\')">' + value + '</a>';
			});
			
			htmlToAppend += "</div>";
		} else if (selectedType=="LAYOUT_HISTORY_CHART" || selectedType=="LAYOUT_DISTRIBUTION_CHART" || selectedType=="LAYOUT_HISTORICAL_DISTRIBUTION_CHART") {
			htmlToAppend += "<div class='form-group'><label for='track_type_%%index%%' class='control-label col-lg-2'>Track type</label><div class='col-lg-9'><select id='track_type_%%index%%' name='track_type_%%index%%' class='form-control'></select></div></div>";
			htmlToAppend += "<div class='form-group'><div class='col-lg-offset-2'><div class='checkbox'><label for='track_default_%%index%%'><input id='track_default_%%index%%' name='track_default_%%index%%' type='checkbox' checked onchange='trackDefaultChanged(%%index%%)'> Use default source and frequency</label></div></div></div>";
			htmlToAppend += "<div class='form-group'><label for='frequency_%%index%%' class='control-label col-lg-2'>Frequency</label><div class='col-lg-9'><select id='frequency_%%index%%' name='frequency_%%index%%' class='form-control' disabled></select></div></div>";
			htmlToAppend += "<div class='form-group'><label for='datasource_%%index%%' class='control-label col-lg-2'>Data source</label><div class='col-lg-9'><select id='datasource_%%index%%' name='datasource_%%index%%' class='form-control' disabled></select></div></div>";
			htmlToAppend = htmlToAppend.replaceAll('%%index%%', index);
			
			callLater = function() {
				$("#frequency_" + index).load("/statics/templates/frequency_select_en.html", checkLoads);
				$("#track_type_" + index).load("/statics/templates/numeric_type_select_en.html", checkLoads);
				$("#datasource_" + index).load("/statics/templates/data_source_select_en.html", checkLoads);
			};
		} else if(selectedType=='LAYOUT_OBJECT_CUSTOM_STANDARD') {
			htmlToAppend += "<div id='fieldsList_" + index + "' class='list-group col-lg-offset-1 col-lg-10 pre-scrollable' style='height: 195px;'>";
			$.each(allCustomFieldsInformation, function(valueIndex, value) {
				var keyField = value.name.replaceAll(' ','-');
				htmlToAppend += '<a class="list-group-item multiple-master main-' + keyField + '" onclick="onForeignClick(' + index + ',\'' + keyField + '\')">' + value.name + '</a>';

				var subCurrentList = [];
				$.each(value.fields_group.fields, function(subIndex, subValue) {
					subCurrentList.push(subValue.name);
				});
				subCurrentList.sort();
				$.each(subCurrentList, function (subIndex, subValue) {
					var subKeyField = subValue.replaceAll(' ','-');
					htmlToAppend += '<a class="list-group-item list-group-item-info multiple-slave hidden main-' + subKeyField + ' sub-' + keyField + '" onclick="onFieldClick(' + index + ',\'' + keyField + '.' + subKeyField + '\')">' + subValue + '</a>';
				});
			});
			htmlToAppend += "</div>";
		} else if(selectedType=='LAYOUT_OBJECT_CUSTOM_TEMPLATE') {
			htmlToAppend += "<div class='form-group'><label for='template_%%index%%' class='control-label col-lg-2'>Template path</label><div class='col-lg-9'><input id='template_%%index%%' name='template_%%index%%' class='form-control' type='text'></div></div>";
			htmlToAppend = htmlToAppend.replaceAll('%%index%%', index);
		}


		$("#content_" + index).append(htmlToAppend);

		callLater();
		if (callback) {
			callback();
		}
	}
	

	function buildWidgets() {
		var currentInformation = allItems[$("#containerType").val()];
		if (currentInformation) {
			$.each(currentInformation.layout, function (index, layout) {
				var closureIndex = currentItem;
				gridster.add_widget.apply(gridster, [emptyWidget.replaceAll('%%index%%', currentItem),layout.size_x, layout.size_y]);
				$("#type_" + currentItem).load("/statics/templates/layout_object_type_select_en.html", function() {
					$("#title_" + closureIndex).val(currentInformation.data[closureIndex.toString()].title);
					$("#type_" + closureIndex).attr('onchange','changeType(' + closureIndex + ')');
					$("#type_" + closureIndex).val(currentInformation.data[closureIndex.toString()].type);
					console.log(currentInformation.data[closureIndex.toString()]);
					changeType(closureIndex, function() {
						if (currentInformation.data[closureIndex.toString()].type=='LAYOUT_OBJECT_TYPE_SINGLES') {
							$.each(currentInformation.data[closureIndex.toString()].data, function(fieldIndex, field) {
								onFieldClick(index, field);
							});
						} else if(currentInformation.data[closureIndex.toString()].type=='LAYOUT_OBJECT_TYPE_LIST') {
							$.each(currentInformation.data[closureIndex.toString()].data, function(fieldIndex, field) {
								onMultipleFieldClick(closureIndex, field);
							});
						} else if (currentInformation.data[closureIndex.toString()].type=='LAYOUT_HISTORY_CHART' || currentInformation.data[closureIndex.toString()].type=='LAYOUT_DISTRIBUTION_CHART' || currentInformation.data[closureIndex.toString()].type=='LAYOUT_HISTORICAL_DISTRIBUTION_CHART') {
							$("#track_default_" + closureIndex).prop('checked', currentInformation.data[index.toString()].data.track_default)
							$("#track_default_" + closureIndex).change();
						} else if (currentInformation.data[closureIndex.toString()].type=='LAYOUT_OBJECT_CUSTOM_STANDARD') {
							$.each(currentInformation.data[closureIndex.toString()].data, function(fieldIndex, field) {
								onFieldClick(index, field);
							});
						} else if (currentInformation.data[closureIndex.toString()].type=='LAYOUT_OBJECT_CUSTOM_TEMPLATE') {
							console.log(currentInformation.data[index.toString()].data);
							$("#template_" + closureIndex).val(currentInformation.data[index.toString()].data.template);
						}

					});
					
				});
				currentItem = currentItem + 1;
			});
		}
	}

	function addWidget(layout) {
		gridster.add_widget.apply(gridster, [emptyWidget.replaceAll('%%index%%', currentItem),layout.size_x, layout.size_y]);
		var index = currentItem;
		$("#type_" + currentItem).load("/statics/templates/layout_object_type_select_en.html", function() {
			changeType(index);
		});
		$("#type_" + currentItem).attr('onchange','changeType(' + currentItem + ')');
		
		currentItem = currentItem + 1;
	}

	function fieldsLoaded(e) {
		allFieldsInformation = e.static_fields;
		allCustomFieldsInformation = e.custom_fields;

		currentItem = 0;
		allFields = [];
		singleFields = [];
		multipleFields = [];
		callbacks = [];

		$.each(allFieldsInformation, function(index, value) {
			allFields.push(index);
		});
		allFields.sort();
		$.each(allFields, function(index, value) {
			if (allFieldsInformation[value].type.lastIndexOf("FIELD_TYPE_", 0)===0) {
				singleFields.push(value);
			} else {
				if (allFieldsInformation[value].type==='ForeignKey') {
					singleFields.push(value);
				} else {
					multipleFields.push(value);
				}
			}
		});

		buildWidgets();

		if (callbacks) {
			$.each(callbacks, function(index, callback){
				callback();
			});
		}
	}

	function containerChanged() {
		initialLoad = true;
		var fieldsForm = new FormData();
		fieldsForm.append('container_type', $("#containerType").val());
		$.ajax({
			url: '/container/fields_get.html',
			type: 'POST',
			data: fieldsForm,
			processData: false,
			contentType: false,
			success: fieldsLoaded,
			error: onCallError
		});

	}

</script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{% blocktrans %}Details page definition{% endblocktrans %}</h1>
	  			<p class="lead">{% blocktrans %}Define the information and layout of the details page.{% endblocktrans %}<br/>
			</div>
		</div>
		<div class="row">
			<select class="form-control no-enter" id="containerType" name="containerType" onchange="clearAndLoad()">
				{% with value='' %}
					{% include selection_template %}
				{% endwith %}
			</select>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<button class="btn btn-default col-lg-3" type="button" data-placement="bottom" title="{% blocktrans %}Add a new widget to the current layout{% endblocktrans %}" onclick='addWidget({"row": 1, "size_x": 1, "col": 1, "size_y": 1})'>{% blocktrans %}Add{% endblocktrans %}</button>
			<button class="btn btn-default col-lg-offset-6 col-lg-3" type="button" data-placement="bottom" title="{% blocktrans %}Save the current layout{% endblocktrans %}" onclick="saveLayout()">{% blocktrans %}Save{% endblocktrans %}</button>
		</div>
		<div class="row">
			<form class="form-horizontal" role="form">
				<div id="layoutGrid" class="gridster col-lg-12">
					<ul id="layoutGridContent">
					</ul>
				</div>
			</form>
		</div>
{% endblock %}