{% extends "finale_base.html" %}
{% load universe_tags %}
{% block title %}Financial Lightweight Editor - {{container.name}} - Valuations{% endblock %}
{% block readyoptions %}
				$(".btn").not('#comment').tooltip();
{% endblock %}
{% block headeroptions %}
	<script>
		var container = {{container_json|safe}};
		var labels = {{labels|get_as_json_string|safe}};

	</script>
{% endblock %}
{% block content %}
{% with perfs=container.frequency|get_frequency_perfs %}
		<div class="row">
			<div class="col-lg-11">
				<h1 class="">{{ container.name }}
					<div class="btn-group">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"/></button>
						<ul class="dropdown-menu" role="menu">
							{% with template_name='statics/'|add:container.type.identifier|add:'_view_menus_en.html' %}
								{% include template_name %}
							{% endwith %}
						</ul>
					</div>
				</h1>
	  			<p class="lead">{% if container.short_description %}{{ container.short_description }}{% else %}No description is available.{% endif %}<br/>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row"><a class="btn btn-default" href="/container_valuations.csv?container_id={{container.id}}&&container_type={{container.type.identifier}}"><span class="glyphicon glyphicon-hdd"> Export to Excel</span></a></div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<table class='table col-lg-12'>
				<tr>
					<th rowspan=2><center>Date</center></th>
					<th colspan={{currencies|length}}><center>Investments</center></th>
					<th rowspan=2><center>Total ({{container.currency.short_name}})</center></th>
					<th rowspan=2><center>Actions</center></th>
					<th colspan={{currencies|length}}><center>Cash</center></th>
					<th rowspan=2><center>Total ({{container.currency.short_name}})</center></th>
					<th rowspan=2><center>Actions</center></th>
					<th colspan={{perfs|length}}><center>Performances</center></th>
				</tr>
				<tr>
				{% for currency in currencies %}
					<th><center>{{currency}}</center></th>
				{% endfor %}
				{% for currency in currencies %}
					<th><center>{{currency}}</center></th>
				{% endfor %}
				{% for perf in perfs %}
					<th><center>{{perf|upper}}</center></th>
				{% endfor %}
				</tr>
				{% for key_date in valuations_date %}
					{% if key_date|match_frequency:container.frequency or forloop.first %}
					<tr>
					<td><a href='/container_valuation.html?container_id={{container.id}}&&container_type={{container.type.identifier}}&working_date={{key_date}}'>{{key_date}}</a></td>
					{% for currency in currencies %}
						<td><center>{% if valuations|get_dict_key:key_date|get_dict_key:'invested'|get_dict_key:currency and valuations|get_dict_key:key_date|get_dict_key:'invested'|get_dict_key:currency != 0.0 %}{{valuations|get_dict_key:key_date|get_dict_key:'invested'|get_dict_key:currency|floatformat:2}}{% else %}-{% endif %}</center</td>
					{% endfor %}
					<td><center>{{valuations|get_dict_key:key_date|get_dict_key:'invested'|get_dict_key:'portfolio'|floatformat:2}}</center</td>
					<td>
						<center>
							<a href="/container_positions.html?container_id={{container.id}}&container_type={{container.type.identifier}}&working_date={{key_date}}" class="btn btn-default" role="button" data-placement="bottom" title="View all positions of {{container.name}} as of {{key_date}}">
								<span class="glyphicon glyphicon-list"></span>
							</a>
						</center>
					</td>
					{% for currency in currencies %}
						<td><center>{% if valuations|get_dict_key:key_date|get_dict_key:'cash'|get_dict_key:currency|get_dict_key:'account' != 0.0 %}{{valuations|get_dict_key:key_date|get_dict_key:'cash'|get_dict_key:currency|get_dict_key:'account'|floatformat:2}} {% if container.currency.short_name != currency %}({{valuations|get_dict_key:key_date|get_dict_key:'spot_pf'|get_dict_key:currency|floatformat:6}}){% endif %}{% else %}-{% endif %}</center></td>
					{% endfor %}
					<td><center>{{valuations|get_dict_key:key_date|get_dict_key:'cash_pf'|floatformat:2}}</center></td>
					<td>
						<center>
							<a href="/container_accounts.html?container_id={{container.id}}&container_type={{container.type.identifier}}&working_date={{key_date}}" class="btn btn-default" role="button" data-placement="bottom" title="View all accounts of {{container.name}} as of {{key_date}}">
								<span class="glyphicon glyphicon-list"></span>
							</a>
						</center>
					</td>
					{% for perf in perfs %}
					<td><center>{{valuations|get_dict_key:key_date|get_dict_key:'performances'|get_dict_key:'mdietz'|get_dict_key:perf|floatformat:2}}%</center></td>
					{% endfor %}
					</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
{% endwith %}
{% endblock %}